html {
    background-image: url('/site-media/pixels/html-top.gif');
    background-repeat: repeat-x;
    background-color: rgb(32, 32, 32);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10pt;
    color: rgb(30, 30, 30);
    text-align: justify;
}

body {
    width: 790px;
    margin: 0px auto;
}

/* Navigation bar */
#top {
    padding: 0px 20px;
}
#top h1 {
    float: left;
    line-height: 40px;
	padding: 0px;
	margin: 20px 0px;
}

#top a {
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    -moz-text-shadow: 0px -1px 1px #000;
    -webkit-text-shadow: 0px -1px 1px #000;
    text-shadow: 0px -1px 1px #000;
}

#top a:hover {
    color: #fff;
}

#top ul {
	margin: 0px;
	padding: 0px;
    list-style: none;
	float: right;
	clear: both;
}

#top li {
    float: left;
    margin-left: 10px;
}

#navigation-main {
	font-size: 20pt;
}

#navigation-account {
	font-size: 7.5pt;
	line-height: 18px;
}

#navigation-right {
	margin-top: 20px;
	float: right;
}

/* Main content */
#content {
   background: url('/site-media/pixels/content-top.gif');
   background-repeat: repeat-x;
   background-color: #fff;
   clear: both;
   padding: 20px;
   margin-bottom: 20px;

   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -moz-box-shadow: 0px 5px 20px #000;
   -webkit-box-shadow: 0px 5px 20px #000;
   box-shadow: 0px 5px 20px #000;
}

#content h2 {
    font-size: 20pt;
    margin: 0px 0px 10px 0px;
    color: rgb(50, 50, 50);

    -moz-text-shadow: 0px 1px 1px #fff;
    -webkit-text-shadow: 0px 1px 1px #fff;
    text-shadow: 0px 1px 1px #fff;
}

#content h2 a {
   color: inherit;
   text-decoration: none;
}

#content h2 a:hover {
   color: black;
}

/* errors */
#error-header {
	background: url('/site-media/pixels/bad-news-bears.gif') repeat-x;
	background-color: rgb(123, 21, 21);
	margin: -20px -20px 0px -20px;
	border-bottom: 1px solid white;
	
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#error-header h2 {
	font-size: 20pt;
    margin: 0px;
    color: rgb(66, 11, 11);
	height: 70px;
	padding: 0px 20px;
	line-height: 70px;

    -moz-text-shadow: 0px 1px 1px rgb(251, 104, 75);
    -webkit-text-shadow: 0px 1px 1px rgb(251, 104, 75);
    text-shadow: 0px 1px 1px rgb(251, 104, 75);
}

/* project buttons */
ul.project-info {
    margin: 0px;
    font-size: 12pt;
    float: right;
    list-style: none;
    line-height: 20pt;
    font-weight: bold;
    
    -moz-text-shadow: 0px 1px 1px #fff;
    -webkit-text-shadow: 0px 1px 1px #fff;
    text-shadow: 0px 1px 1px #fff;
}

ul.project-info li {
    margin-left: 10px;
    float: left;
}

ul.project-info a {
    color: inherit;
    text-decoration: none;
}

ul.project-info a:hover {
    color: black;
}

/* project listing */
#projects-list {
    clear: both;
}

/* project pages */
#project-description {
    clear: both;
}

/* user profiles */
#profile-left {
    float: left;
    width: 525px;
}

#profile-gravatar {
    float: right;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 5px 20px #bbb;
    -webkit-box-shadow: 0px 5px 20px #bbb;
    box-shadow: 0px 5px 20px #bbb;
}

/* forms */
label {
    font-size: 15pt;
    display: block;
}

input, textarea {
    width: 100%;
    font-family: inherit;
    font-size: 16pt;
    background: #eee;
    padding: 3px;
    
    border: 1px solid #aaa;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.submitbutton {
	width: auto;
	text-align: center;
	clear: both;
}

input[type='submit'] {
	float: none;
	margin: 0px;
	width: auto;
	padding: 5px;
}

input:focus, textarea:focus {
    outline: none;
    background: #fff;
    border: 1px solid #888;
}

.form-col-left {
    float: left;
    width: 360px;
}

.form-col-right {
    float: right;
    width: 360px;
}