{% extends "base.html" %}

{% block extratitle %}{% endblock %}

{% block extracontent %}
    <div class="rcos-content">
        <div class="rcos-left">
            {% block rcoscontent %}{% endblock %}
        </div>
        <div class="rcos-right">
            <ul class="rcos-links">
				<li><a href="{% url "foundry.views.index" %}">About</a></li>
				<li><a href="http://www.formstack.com/forms/?1573911-s6bVBo7GkA">Sign Up</a></li>
				<li><a href="http://scte.rpi.edu/foundry/IntroFoundry.pdf">Introduction to Foundry</a></li>
				<li><a href="{% url "foundry.views.mokr" %}">About the MOKR</a></li>
				<li><a href="#">Item</a></li>
				<li><a href="#">Item</a></li>
				<li><a href="#">Item</a></li>
				<li><a href="#">Item</a></li>
				<li><a href="#">Item</a></li>
			</ul>
			<br><br><br><br><hr>
			<br><br><br><br>


		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFoundryRPI&amp;width=185&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=181077398635683" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:185px; height:290px;" allowTransparency="true"></iframe>
        </div>
    </div>
{% endblock %}

