{% extends "foundry/base.html" %}

{% block rcoscontent %}
    <h1>About The MOKR</h>
    <h2>Mission, Objectives, and Key Results</h2>
    <p>
    One of the most important aspects to success in the Foundry program is for teams to (1) succinctly articulate the business they 
    are developing and (2) clearly specify the results the team wants to achieve. This makes a great deal of 
    sense, Thus, we are using a MOKRs document (mission, objectives, key results) to achieve this end. 
    <br><br>
    The MOKR is a document that contains the following elements.
    </p>

    <h2>MISSION</h2>
    <p>
    The mission of a project should be articulated in ~3 sentences. The goal of the mission 
    statement is to declare what the business is about as clearly and yet as succinctly as possible. 
    </p>

    <h2>OBJECTIVES</h2>
    <p>
    Objectives hilight the specific means by which the above mission will be achieved. Note that each objective item is no more than one line, starts with a verb, and is written in active voice. Each objective is accompanied by a multi-sentence description, which also starts with a verb, and is written in active voice. 
        <br><br>
    The "right number of objectives" is the number that represents the set of activities that, if completed, will powerfully move your business forward. 
    </p>

    <h2>KEY RESULTS</h2>
    <p>
    Each key result should be specific and measurable. At the end of the period, each result either be done, or not done (and thus an observer will be able to determine whether they are done, or not done). Be thorough when listing key results but understand the your list may change as time goes on. List both short term, achievable goals and ‘stretch’ goals. Indicate stretch goals in bold text.
    </p>

    <h2>Tips for Creating your MOKR</h2>
    <ul>
        <li>Strive for precision and clarity in language. Write durably, communicate clearly.</li>
        <li>In the business world, formatting and grammar matter. A lot. Start caring about this.</li> 
        <li>Stick to the template. Consider the lesson of the underlying form. </li>
        <li>Invest some time in your MOKR, but know that your goals may change as your business evolves</li>
    </ul>

    <h2>Examples</h2>
    <p>
    Here are some example MOKRs from past years
    </p>
    <ul>
        <li><a href="http://scte.rpi.edu/foundry/MOKR1.pdf">Example 1</a></li>
        <li><a href="http://scte.rpi.edu/foundry/MOKR2.pdf">Example 2</a></li>
        <li><a href="http://scte.rpi.edu/foundry/MOKR3.pdf">Example 3</a></li>
    </ul>

{% endblock %}
