*.pyc
*.sqlite
*.DS_Store
*.psd
*.swp
*~

observatory/settings_recaptcha.py
observatory/media/screenshots/
observatory/media/style.css
observatory/media/observatory.js
observatory/clones/

observatory/dashboard/migrations/
observatory/todo/migrations/
observatory/emaillist/migrations/


!observatory/media/screenshots/thisdirectoryexists.txt
.tmp/
.vagrant/
modules/
.librarian
