{% extends "base.html" %}
{% load gravatar %}

{% block content %}
This is where we should put some basic information about the dashboard, I suppose.
{% endblock %}

{% block extracontent %}
    {% if events %}
        {% for event in events %}
            <div class="extra-content">
                {% if event.2 %}
                    <div class="event-author">
                        <img src="{{ event.2|gravatar:40 }}"
                         alt="{{ event.2.get_full_name }}"
                         class="event-gravatar" />
                    </div>
                {% endif %}
                <div class="event-header">
                    {% if event.link %}
                        <h3><a href="{{ event.0.link }}">{{ event.0.title }}</a></h3>
                    {% else %}
                        <h3>{{ event.0.title }}</h3>
                    {% endif %}
                </div>
                
                <div style="clear:both"></div>
                
                <div class="event-content">
                    <p>
                        {% autoescape off %}
                            {{ event.formatted_summary }}
                        {% endautoescape %}
                    </p>
                </div>
                <div style="clear:both"></div>
                
                <div class="dark-bottom-bar">
                    <div style="float:left">
                        {% if event.2 %}
                            <a href="{% url dashboard.views.users.profile event.2.id %}">
                                {{ event.2.get_full_name }}
                            </a>
                        {% else %}
                            {% if event.0.author_name %}
                                {{ event.0.author_name }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div style="float:right">
                        {{ event.0.type_name }} •
                        <a href="{% url dashboard.views.projects.show event.1.url_path %}">
                            {{ event.1.title }}
                        </a> •
                        {{ event.0.age }}
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="extra-content">
            <h3>No events yet.</h3>
        </div>
    {% endif %}
{% endblock %}