{% extends "base.html" %}
{% load gravatar %}

{% block extracontent %}
    {% if events %}
        {% for event in events %}
            <div class="extra-content">
                {% if event.author %}
                    <div class="event-author">
                        <img src="{{ event.author|gravatar:40 }}"
                         alt="{{ event.author.get_full_name }}"
                         class="event-gravatar" />
                    </div>
                {% endif %}
                <div class="event-header">
                    {% if event.event.type_name == "Commit" %}
                        <h3>
                            <a href="{% url dashboard.views.commits.show event.project.url_path event.event.url_path %}">
                                {{ event.event.title }}
                            </a>
                        </h3>
                    {% else %}
                        <h3>
                            <a href="{% url dashboard.views.blogs.show_post event.event.url_path %}">
                                {{ event.event.title }}
                            </a>
                        </h3>
                    {% endif %}
                </div>
                
                <div style="clear:both"></div>
                
                <div class="event-content">
                    <p>
                        {% autoescape off %}
                            {{ event.event.formatted_summary }}
                        {% endautoescape %}
                    </p>
                </div>
                <div style="clear:both"></div>
                
                <div class="dark-bottom-bar">
                    <div style="float:left">
                        {% if event.author %}
                            <a href="{% url dashboard.views.users.profile event.author.id %}">
                                {{ event.author.get_full_name }}
                            </a>
                        {% else %}
                            {% if event.event.author_name %}
                                {{ event.event.author_name }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div style="float:right">
                        {{ event.event.type_name }} •
                        <a href="{% url dashboard.views.projects.show event.project.url_path %}">
                            {{ event.project.title }}
                        </a> •
                        {{ event.event.age }}
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="extra-content">
            <h3>No events yet.</h3>
        </div>
    {% endif %}
{% endblock %}