{# RCOS-specific footer #}
    <div class="rcos-footer">
        <img src="/site-media/rcos/logo-dark.png" alt="Rensselaer Center for Open Source Software" />
        <div>
            <ul>
                <li><a href="{% url "rcos.views.index" %}">About</a></li>
                <li><a href="{% url "rcos.views.howtojoin" %}">
                    How to Join
                </a></li>
                <li><a href="{% url "rcos.views.calendar" %}">Calendar</a></li>
                <li><a href="{% url "rcos.views.donor" %}">Donor</a></li>
                <li><a href="{% url "rcos.views.students" %}">Students</a></li>
            </ul>
            <ul>
                <li><a href="{% url "rcos.views.courses" %}">Courses</a></li>
                <li><a href="{% url "rcos.views.talks" %}">Talks</a></li>
                <li><a href="{% url "rcos.views.past_projects" %}">
                    Past Projects
                </a></li>
                <li><a href="{% url "rcos.views.progcomp" %}">
                    Programming Competition
                </a></li>
                <li><a href="{% url "rcos.views.achievements" %}">
                    Achievements
                </a></li>
            </ul>
            <ul>
                <li><a href="{% url "rcos.views.urpapplication" %}">
                    URP Application
                </a></li>
                <li><a href="{% url "rcos.views.talksignup" %}">
                    Talk Sign-up
                </a></li>
                <li><a href="{% url "rcos.views.linksandcontacts" %}">
                    Links &amp; Contacts</a></li>
                <li><a href="{% url "rcos.views.irc" %}">IRC Chat Channel</a></li>
            </ul>
        </div>
    </div>
    <div class="rcos-trailer"></div>
