{% if user.is_authenticated %}
    <div class="project-info">
        {% if show_add_remove_author %}
            {% if user not in authors %}
                <form action="{% url "dashboard.views.projects.add_user" %}"
                      method="post">
                    <input type="submit" value="I work on this!"
                           class="green button-small" />
            {% else %}
                <form action="{% url "dashboard.views.projects.remove_user" %}"
                      method="post">
                    <input type="submit"
                           value="I'm not working on this anymore"
                           class="green button-small" />
            {% endif %}
                {% csrf_token %}
                <input type="hidden" value="{{ project.id }}"
                       name="project_id" />
                <input type="hidden" value="{{ user.id }}"
                       name="user_id" />
            </form>
        {% else %}
            Author request sent!
        {% endif %}
    </div>
{% endif %}