<ul class="project-info">
    {% if user in project.authors.all or user.info.mentor %}
        <li>
            <a href="{% url "dashboard.views.projects.modify" project.url_path %}">
                Modify
            </a>
        </li>
    {% endif %}
    <li><a href="{{ project.website }}">Website</a></li>
    <li><a href="{% url "dashboard.views.blogs.show_blog" project.url_path %}">
        Blog
    </a></li>
	<li><a href="{% url "dashboard.views.commits.show_repository" project.url_path %}">Repository</a></li>
</ul>
