{% extends "commits/partials/page.html" %}

{% block title %}{{ project.title }} • Commits{% endblock %}

{% block navigation %}
<div class="pagination-buttons">
    {% if page.has_previous %}
        <a class="pagination-previous button"
           href="{% url "dashboard.views.commits.repository_page" project.url_path page.previous_page_number %}">
            Previous Page
        </a>
    {% endif %}

    {% if page.has_next %}
        <a class="pagination-next button"
           href="{% url "dashboard.views.commits.repository_page" project.url_path page.next_page_number %}">
            Next Page
        </a>
    {% endif %}
    <div class="clear"></div>
</div>
{% endblock %}
