{% extends "base.html" %}
{% load gravatar %}
{% load javascript %}

{% block head %}
{% endblock %}

{% block title %}Dashboard • {{ commit.title }}{% endblock %}

{% block content %}
<h2 style="float:left">{{ commit.title }}</h2>
<div style="clear:both"></div>

<pre>{{ commit.summary }}</pre>

{% if commit.diff %}
    <h2>Changes</h2>
    {% autoescape off %}
        {{ commit.diff }}
    {% endautoescape %}
{% endif %}

<div class="dark-bottom-bar">
    <div style="float:left">
        {% if commit.author %}
            <a href="{% url dashboard.views.users.profile commit.author.id %}">
                {{ commit.author.get_full_name }}
            </a>
        {% else %}
            {% if commit.author_name %}
                {{ commit.author_name }}
            {% endif %}
        {% endif %}
    </div>
    <div style="float:right">
        <a href="{% url dashboard.views.projects.show commit.project.url_path %}">
            {{ commit.project.title }}
        </a> •
        {{ commit.age }}
    </div>
    <div style="clear:both"></div>
</div>

{% endblock %}