{% extends "base.html" %}
{% load bottom_bar %}
{% load gravatar %}
{% load javascript %}

{% block head %}
{% endblock %}

{% block title %}{{ commit.title }}{% endblock %}

{% block content %}
<h2 style="float:left">{{ commit.title }}</h2>
<div class="clear"></div>

{% autoescape off %}
    {{ commit.summary }}
{% endautoescape %}

{% if commit.diff %}
    <h2>Changes</h2>
    {% autoescape off %}
        {{ commit.diff }}
    {% endautoescape %}
{% else %}
    Unable To Display Changes
{% endif %}

{% bottom_bar commit 0 %}

{% endblock %}
