{# Foundry-specific footer #}
    <div class="rcos-footer">
        <img src="/site-media/foundry/logo-dark.png" alt="Rensselaer Center for Open Source Software" />
        <div>
            <ul>
               <li><a href="{% url "foundry.views.index" %}">About</a></li>
				<li><a href="http://www.formstack.com/forms/?1573911-s6bVBo7GkA">Sign Up</a></li>
				<li><a href="http://scte.rpi.edu/foundry/IntroFoundry.pdf">Introduction to Foundry</a></li>
            </ul>
            <ul>
            	<li><a href="{% url "foundry.views.mokr" %}">About the MOKR</a></li>
            	<li><a href="#">Item</a></li>
            	<li><a href="#">Item</a></li>
            </ul>
            <ul>
            	<li><a href="#">Item</a></li>
            	<li><a href="#">Item</a></li>
            	<li><a href="#">Item</a></li>
            </ul>
        </div>
    </div>
    <div class="rcos-trailer"></div>