<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/site-media/style.css" />
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>
    <div id="top">
        <h1>
            <a href="{% url dashboard.views.projects.index %}">
                Dashboard
            </a>
        </h1>
        <div id="navigation-right">
            <ul id="navigation-main">
                <li>
                    <a href="{% url dashboard.views.projects.list %}">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="{% url dashboard.views.blogs.posts %}">Posts</a>
                </li>
            </ul>
            <ul id="navigation-account">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url dashboard.views.users.profile user.id%}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url dashboard.views.users.logout %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url dashboard.views.users.login %}">Login</a>
                </li>
                <li>
                    <a href="{% url dashboard.views.users.register %}">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>