{% load javascript %}

{% spaceless %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/site-media/style.css" />
    <link rel="stylesheet" type="text/css" href="/site-media/jquery.lightbox-0.5.css" />
    
    <title>{% block title %}Dashboard{% endblock %}</title>
    
    {# Vendor #}
    <script src="/site-media/js/lib/vendor/jquery-1.4.4.min.js"></script>
    <script src="/site-media/js/lib/vendor/jquery.html5form-1.2-min.js"></script>
    <script src="/site-media/js/lib/vendor/jquery.lightbox-0.5.min.js"></script>
    
    <script src="/site-media/js/globals.js"></script>

    {# Forms #}    
    <script src="/site-media/js/lib/form/Form.js"></script>
    <script src="/site-media/js/lib/form/ExclusiveOrForms.js"></script>
    
    {# Pages #}
    <script src="/site-media/js/lib/page/Page.js"></script>
    <script src="/site-media/js/lib/page/LoginRegisterPage.js"></script>
    <script src="/site-media/js/lib/page/AddProjectPage.js"></script>
    <script src="/site-media/js/lib/page/ShowProjectPage.js"></script>
    
    <script src="/site-media/js/init.js"></script>

    {% block head %}{% endblock %}

</head>
<body>
    <div id="top">
        <h1>
            <a href="{% url dashboard.views.main.index %}">
                Dashboard
            </a>
        </h1>
        <div id="navigation-right">
            <ul id="navigation-main">
                <li>
                    <a href="{% url dashboard.views.projects.list %}">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="{% url dashboard.views.blogs.posts %}">Posts</a>
                </li>
            </ul>
            <ul id="navigation-account">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url dashboard.views.users.profile user.id%}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url dashboard.views.users.logout %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url dashboard.views.users.login_or_reg %}">
                        Register or Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if not disable_content %}
        <div id="content">
            {% if error_header %}
                <div id='error-header'>
                    <h2>{{ error_header }}</h2>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    {% endif %}
    {% block extracontent %}
    {% endblock %}
    
    {# If this page has some javascript, initialize the page. #}
    {% if js_page_id %}
        <script>
            initialize_page('{{ js_page_id }}');
        </script>
    {% endif %}
</body>
</html>

{% endspaceless %}