<!DOCTYPE html>

{% load head_tags %}
{% load author_requests %}
{% load page_customizations %}
{% load footer %}
{% load title %}

{% spaceless %}

<html>
<head>
    {% title %}
	{% head_tags %}
	{% block head %}{% endblock %}
	
	<link href='http://fonts.googleapis.com/css?family=Kreon:regular,bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Puritan:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>

	{% favicon %}

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22302564-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
</head>
<body>
    <div id="top">
        <h1>
          {% pageheader %}
        </h1>
        <div id="navigation-right">
            <ul id="navigation-main">
                <li>
                    <a href="{% url "dashboard.views.feed.feed" %}">
                        Feed
                    </a>
                </li>
                <li class="navigation-bullet">•</li>
                <li>
                    <a href="{% url "dashboard.views.projects.list" %}">
                        Projects
                    </a>
                </li>
                <li class="navigation-bullet">•</li>
                <li>
                    <a href="{% url "dashboard.views.blogs.posts" %}">Posts</a>
                </li>
                <li class="navigation-bullet">•</li>
                <li>
                    <a href="{% url "dashboard.views.users.people" %}">People</a>
                </li>
				<li class="navigation-bullet">•</li>
                <li>
                    <a href="{% url "todo.views.list_lists" %}">
                        Tasks
                    </a>
                </li>
            </ul>
            <ul id="navigation-account">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url "dashboard.views.users.profile" user.id%}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url "dashboard.views.users.logout" %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url "dashboard.views.users.login_or_reg" %}">
                        Register or Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% autoescape off %}
            {{ user|author_requests }}
        {% endautoescape %}
    {% endif %}

    {% if not disable_content %}
        <div id="content">
            {% if error_header %}
                <div id='error-header'>
                    <h2>{{ error_header }}</h2>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    {% endif %}
    {% block extracontent %}
    {% endblock %}
    
    {# If this page has some javascript, initialize the page. #}
    {% if js_page_id %}
        <script>
            initialize_page('{{ js_page_id }}');
        </script>
		{% endif %}

	{% block footer %}{% footer %}{% endblock %}
</body>
</html>

{% endspaceless %}
