{% extends "base.html" %}

{% block title %}Dashboard • Add Project{% endblock %}

{% block head %}
<style>
    {% for part in parts %}
        {% if part != current %}
            #part-{{ part }} { display: none; }
        {% endif %}
    {% endfor %}
</style>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if project_form.errors %}<p><strong>{{ project_form.errors }}</strong></p>{% endif %}
{% if cloned_repo_form.errors %}<p><strong>{{ cloned_repo_form.errors }}</strong></p>{% endif %}
{% if feed_repo_form.errors %}<p><strong>{{ feed_repo_form.errors }}</strong></p>{% endif %}
{% if blog_form.errors %}<p><strong>{{ blog_form.errors }}</strong></p>{% endif %}


<form action="{% url dashboard.views.projects.add %}"
 id="part-1" method="post">
    {% csrf_token %}
    <input type="hidden" name="current" value="{{ current }}" />
    
    <h2>Add a Project</h2>
    <div class="form-col-left">
        <p>
            <label for="id_title">Title</label>
            <input id="id_title" type="text" name="title" maxlength="32" required 
                {% if project_form.data.title %}
                    value="{{project_form.data.title}}"
                {% endif %}
            />
        </p>
        <p>
            <label for="id_website">Website</label>
            <input placeholder="i.e. https://github.com/NateStedman/Observatory" id="id_website" type="url" name="website" maxlength="64" required 
                {% if project_form.data.website %}
                    value="{{project_form.data.website}}"
                {% endif %}
            />
        </p>
        <p>
            <label for="id_wiki">Wiki</label>
            <input id="id_wiki" type="url" name="wiki" maxlength="64" required 
                {% if project_form.data.wiki %}
                    value="{{project_form.data.wiki}}"
                {% endif %}
            />
        </p>
    </div>
    <div class="form-col-right">
        <p>
            <label for="id_description">Description</label>
            <textarea id="id_description" rows="10" cols="40" name="description" required>{% if project_form.data.description %}{{project_form.data.description}}{% endif %}</textarea>
        </p>
    </div>    
    <div class="submitbutton">
        <input type="submit" class="button" value="Next Step" />
    </div>
</form>

<div id="part-2">
    <div class="form-col-left" id="part-2-form-left-container">
        <h2>Clone my repository!</h2>
        <p>
            Observatory can directly access git, Mercurial, Bazaar, and
            Subversion repositories. This allows us to build an archive,
            and fetch the maximum amount of information about your
            repository, so this method should be used if possible.
        </p>
        <form id="part-2-form-left" action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}

            <p>
                <label for="id_web_url">Repository Web Address:</label>
                <input placeholder="i.e. https://github.com/NateStedman/Observatory/" id="id_web_url" type="url" name="web_url" maxlength="128" required 
                    {% if cloned_repo_form.data.web_url %}
                        value="{{cloned_repo_form.data.web_url}}"
                    {% endif %}
                />
            </p>
            
            <p>
                <label for="id_clone_url">Repository Clone Address:</label>
                <input placeholder="i.e. git@github.com:NateStedman/Observatory.git" id="id_clone_url" type="text" name="clone_url" maxlength="128" required 
                    {% if cloned_repo_form.data.clone_url %}
                        value="{{ cloned_repo_form.data.clone_url }}"
                    {% endif %}
                />
            </p>
            
            <p> 
                <label for="id_vcs">Version Control System:</label>
                <select name="vcs" id="id_vcs">
                    <option value="git" 
                        {% if not cloned_repo_form.data.vcs %}
                            selected="selected"
                        {% else %}
                            {% if cloned_repo_form.data.vcs == 'git' %}
                                selected="selected"
                            {% endif %}                            
                        {% endif %}
                    >git</option>
                    <option value="svn"
                        {% if cloned_repo_form.data.vcs and cloned_repo_form.data.vcs == 'svn' %}
                            selected="selected"
                        {% endif %}
                    >Subversion</option>
                    <option value="hg"
                        {% if cloned_repo_form.data.vcs and cloned_repo_form.data.vcs == 'hg' %}
                            selected="selected"
                        {% endif %}
                    >Mercurial</option>
                    
                    <option value="bzr"
                        {% if cloned_repo_form.data.vcs and cloned_repo_form.data.vcs == 'bzr' %}
                            selected="selected"
                        {% endif %}                        
                    >Bazaar</option>
                </select>
            </p>
            
            <div class="submitbutton">
                <input type="submit" class="button" value="Clone it!" />
            </div>
        </form>
    </div>
    
    <div class="form-col-right" id="part-2-form-right-container">
        <h2>Use a feed.</h2>
        <p>
            If Observatory doesn't support your version control system, an
            RSS or Atom feed can be used to track changes. This is less
            powerful, and doesn't allow us to automatically archive your
            project and your project's history.
        </p>
        <form id="part-2-form-right" action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}">
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            
            
            <p>
                <label for="id_web_url">Repository Web Address:</label>
                <input id="id_web_url" type="url" name="web_url" maxlength="128" required 
                    {% if feed_repo_form.data.web_url %}
                        value="{{ feed_repo_form.data.web_url }}"
                    {% endif %}
                />
            </p>
            
            <p>
                <label for="id_repo_rss">Repository RSS Feed:</label>
                <input id="id_repo_rss" type="url" name="repo_rss" maxlength="128" required 
                    {% if feed_repo_form.data.repo_rss %}
                        value="{{ feed_repo_form.data.repo_rss }}"
                    {% endif %}
                />
            </p>
            
            <p>
                <label for="id_cmd">Clone Command:</label>
                <input id="id_cmd" type="text" name="cmd" maxlength="128" required 
                    {% if feed_repo_form.data.cmd %}
                        value="{{ feed_repo_form.data.cmd }}"
                    {% endif %}
                />
            </p>
            
            <div class="submitbutton">
                <input type="submit" class="button" value="Use my feed" />
            </div>
        </form>
    </div>
</div>

<div id="part-3">
    <div class="form-col-left" id="part-3-form-left-container">
        <h2>Use a blog RSS feed.</h2>
        <p>
            If you have an existing blog for your project, Observatory will
            track and automatically mirror it.
        </p>
        <form id="part-3-form-left" action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}

            <p>
                <label for="id_url">Blog Web Address:</label>
                <input id="id_url" type="url" name="url" maxlength="64" required 
                    {% if blog_form.data.url %}
                        value="{{ blog_form.data.url }}"
                    {% endif %}
                />
            </p>
            
            <p>
                <label for="id_rss">Blog Feed:</label>
                <input id="id_rss" type="url" name="rss" maxlength="64" required 
                    {% if blog_form.data.rss %}
                        value="{{ blog_form.data.rss }}"
                    {% endif %}
                />
            </p>
            
            <div class="submitbutton">
                <input type="submit" class="button" value="Use my feed" />
            </div>
        </form>
    </div>

    <div class="form-col-right" id="part-3-form-right-container">
        <h2>Host my blog!</h2>
        <p>
            If you don't have an existing blog for your project, you can use
            Observatory's simple blog system.
        </p>
        <form id="part-3-form-right" action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            
            <div class="submitbutton">
                <input type="submit" class="button" value="Create a blog" />
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>
{% endblock %}
