{% extends "base.html" %}

{% block title %}Dashboard • Add Project{% endblock %}

{% block head %}
<style>
    {% for part in parts %}
        {% if part != current %}
            #part-{{ part }} { display: none; }
        {% endif %}
    {% endfor %}
</style>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url dashboard.views.projects.add %}"
 id="part-1" method="post">
    {% csrf_token %}
    <input type="hidden" name="current" value="{{ current }}" />
    
    <h2>Add a Project</h2>
    <div class="form-col-left">
        <p>
            {{ project_form.title.label_tag }}
            {{ project_form.title }}
            {{ project_form.title.errors }}
        </p>
        <p>
            {{ project_form.website.label_tag }}
            {{ project_form.website }}
            {{ project_form.website.errors }}
        </p>
        <p>
            {{ project_form.wiki.label_tag }}
            {{ project_form.wiki }}
            {{ project_form.wiki.errors }}
        </p>
    </div>
    <div class="form-col-right">
        <p>
            {{ project_form.description.label_tag }}
            {{ project_form.description }}
            {{ project_form.description.errors }}
        </p>
    </div>
    
    <div class="submitbutton">
        <input type="submit" class="button" value="Next Step" />
    </div>
</form>

<div id="part-2">
    <div class="form-col-left">
        <h2>Clone my repository!</h2>
        <p>
            Observatory can directly access git, Mercurial, Bazaar, and
            Subversion repositories. This allows us to build an archive,
            and fetch the maximum amount of information about your
            repository, so this method should be used if possible.
        </p>
        <form action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            {{ cloned_repo_form.as_p }}
            <div class="submitbutton">
                <input type="submit" class="button" value="Clone it!" />
            </div>
        </form>
    </div>
    
    <div class="form-col-right">
        <h2>Use a feed.</h2>
        <p>
            If Observatory doesn't support your version control system, an
            RSS or Atom feed can be used to track changes. This is less
            powerful, and doesn't allow us to automatically archive your
            project and your project's history.
        </p>
        <form action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}">
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            {{ feed_repo_form.as_p }}
            <div class="submitbutton">
                <input type="submit" class="button" value="Use my feed" />
            </div>
        </form>
    </div>
</div>

<div id="part-3">
    <div class="form-col-left">
        <h2>Use a blog RSS feed.</h2>
        <p>
            If you have an existing blog for your project, Observatory will
            track and automatically mirror it.
        </p>
        <form action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            {{ blog_form.as_p }}
            <div class="submitbutton">
                <input type="submit" class="button" value="Use my feed" />
            </div>
        </form>
    </div>

    <div class="form-col-right">
        <h2>Host my blog!</h2>
        <p>
            If you don't have an existing blog for your project, you can use
            Observatory's simple blog system.
        </p>
        <form action="{% url dashboard.views.projects.add %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            
            <div class="submitbutton">
                <input type="submit" class="button" value="Create a blog" />
            </div>
        </form>
    </div>
</div>

<div style="clear:both"></div>
{% endblock %}