{% extends "base.html" %}

{% load form_tags %}

{% block title %}Add Project{% endblock %}

{% block head %}
<style>
    {% for part in parts %}
        {% if part != current %}
            #part-{{ part }} { display: none; }
        {% endif %}
    {% endfor %}
</style>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if project_form.errors %}<p><strong>{{ project_form.errors }}</strong></p>{% endif %}
{% if cloned_repo_form.errors %}<p><strong>{{ cloned_repo_form.errors }}</strong></p>{% endif %}
{% if feed_repo_form.errors %}<p><strong>{{ feed_repo_form.errors }}</strong></p>{% endif %}
{% if blog_form.errors %}<p><strong>{{ blog_form.errors }}</strong></p>{% endif %}


<form action="{% url "dashboard.views.projects.add" %}"
 id="part-1" method="post">
    {% csrf_token %}
    <input type="hidden" name="current" value="{{ current }}" />
    
    <h2>Add a Project</h2>
    <b> All fields are required. </b> <br/><br/>
    <div class="form-col-left">
        {% input_field 'Title' 'id_title' 'title' project_form 'required' 200 0 'text' %}
        
        {% url_field 'Website' 'id_website' 'website' project_form 'required' 200 'i.e. https://github.com/NateStedman/Observatory' 'text' %}
        
        {% url_field 'Wiki' 'id_wiki' 'wiki' project_form 'required' 200 0 'text' %}
    </div>
    <div class="form-col-right">
        {% textarea_field 'Description' 'id_description' 'description' project_form 'required' 0 0 10 30 %}
    </div>    
    <div class="submitbutton">
        <input type="submit" class="green button" value="Next Step" />
    </div>
</form>

<div id="part-2">
    <div class="form-col-left" id="part-2-form-left-container">
        <h2>Clone my repository!</h2>
        <p>
            Observatory can directly access git and Subversion
            repositories. This allows us to build an archive,
            and fetch the maximum amount of information about your
            repository, so this method should be used if possible.
        </p>
        <form id="part-2-form-left" action="{% url "dashboard.views.projects.add" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
			<p>
			{% url_field 'Repository Web Address:' 'id_web_url' 'web_url' cloned_repo_form 'required' 128 'i.e. https://github.com/NateStedman/Observatory/' 'text' %}
			</p>
			<p>
			{% input_field 'Repository <em>Public</em> Clone Address:' 'id_clone_url' 'clone_url' cloned_repo_form 'required' 128 'i.e. git://github.com/NateStedman/Observatory.git' 'text' %}
			</p>
            
			<p>
			{% select_field 'Version Control System' 'id_vcs' 'vcs' cloned_repo_form 'required' 'git' %}
			</p>

            <div class="submitbutton">
                <input type="submit" class="green button" value="Clone it!" />
            </div>
        </form>
    </div>
    
    <div class="form-col-right" id="part-2-form-right-container">
        <h2>Use a feed.</h2>
        <p>
            If Observatory doesn't support your version control system, an
            RSS or Atom feed can be used to track changes. This is less
            powerful, and doesn't allow us to automatically archive your
            project and your project's history.
        </p>
        <form id="part-2-form-right" action="{% url "dashboard.views.projects.add" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}">
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}

			<p>
			{% url_field 'Repository Web Address:' 'id_web_url' 'web_url' feed_repo_form 'required' 128 'i.e. https://github.com/NateStedman/Observatory/' 'text' %}
			</p>

			<p>
			{% url_field 'Repository RSS Feed:' 'id_repo_rss' 'repo_rss' feed_repo_form 'required' 128 0 'text' %}
			</p>
			<p>
			{% input_field 'Clone Command:' 'id_cmd' 'cmd' feed_repo_form 'required' 128 0 'text' %}
			</p>
            
            <div class="submitbutton">
                <input type="submit" class="green button" value="Use my feed" />
            </div>
        </form>
    </div>
</div>

<div id="part-3">
    <div class="form-col-left" id="part-3-form-left-container">
        <h2>Use a blog RSS feed.</h2>
        <p>
            If you have an existing blog for your project, Observatory will
            track and automatically mirror it.
        </p>
        <form id="part-3-form-left" action="{% url "dashboard.views.projects.add" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
			
			<p>
			{% url_field 'Blog Web Address:' 'id_url' 'url' blog_form 'required' 64    0 'text' %}
			</p>
			
			<p>
			{% url_field 'Blog Feed:' 'id_rss' 'rss' blog_form 'required' 64 0 'text' %}
			</p>
                        
            <div class="submitbutton">
                <input type="submit" class="green button" value="Use my feed" />
            </div>
        </form>
    </div>

    <div class="form-col-right" id="part-3-form-right-container">
        <h2>Host my blog!</h2>
        <p>
            If you don't have an existing blog for your project, you can use
            Observatory's simple blog system.
        </p>
        <form id="part-3-form-right" action="{% url "dashboard.views.projects.add" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ current }}" />
            {% for key, value in previous_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endfor %}
            
            <div class="submitbutton">
                <input type="submit" class="green button" value="Create a blog" />
            </div>
        </form>
    </div>
</div>

<div class="clear"></div>
{% endblock %}
