{% extends "base.html" %}

{% block content %}
<!-- List the projects -->
{% if projects %}
    <h2>Projects</h2>
    <div id="projects-list">
        {% for project in projects %}
        <div class="project" id="project-{{ project.id }}">
            <h3><a href="{% url dashboard.views.projects.show project.id %}">
                {{ project.title }}
            </a></h3>
            <ul>
            {% if project.website %}
                <li><a href="{{ project.website|urlencode }}">Website</a></li>
            {% endif %}
            {% if project.blog.url %}
                <li><a href="{{ project.blog.url|urlencode }}">Blog</a></li>
            {% endif %}
            {% if project.repository.url %}
                <li><a href="{{ project.repository.url|urlencode }}">
                    Repository
                </a></li>
            {% endif %}
            {% if user in project.authors.all %}
                <li>
                <a href="{% url dashboard.views.projects.modify project.id %}">
                    Modify
                </a>
                </li>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No projects found.</h2>
{% endif %}
{% endblock %}