{% extends "base.html" %}

{% block content %}

{% if projects %}
    <h2 style='float: left'>Projects</h2>
{% else %}
    <h2 style="float:left">No projects found.</h2>
{% endif %}
{% if user.is_authenticated %}
    <ul class='project-info'>
        <li>
            <a href="{% url dashboard.views.projects.add %}"
               class="button-small">
                Add a Project
            </a>
        </li>
    </ul>
{% endif %}
<div style="clear:both"></div>
{% endblock %}

{% block extracontent %}
<div id="projects-list">    
    {% for project in projects %}
        {% include "projects/project_bubble.html" %}
    {% endfor %}
    {% for project in scoreless %}
        {% include "projects/project_bubble.html" %}
    {% endfor %}
</div>
{% endblock %}