{% extends "base.html" %}

{% block extratitle %} • Projects{% endblock %}

{% block head %}
<script>
    $(document).ready(function() {
        ids = ["#blog-bar", "#overall-bar", "#repo-bar"]
        for (i in ids) {
            tag = $(ids[i])
			width = tag.css("width")
			if (width != "0px") {
				tag.css({"width": "0%"})
				tag.animate({
					"width": width,
					"opacity": "5" // hack to make it fade in fast
				}, 2000)
			}
        }
    });
</script>
{% endblock %}

{% block content %}
{% if projects or scoreless %}
    {% if nothing_fetched %}
        <h2 style="float:left">Nothing has been fetched yet!</h2>
    {% else %}
        <h2 style='float:left'>In the past week...</h2>
    {% endif %}
{% else %}
    <h2 style="float:left">No projects found.</h2>
{% endif %}
    <ul class='project-info'>
        <li>
            <a href="{% url "dashboard.views.projects.archived_list" %}"
               class="green button-small">
                Past Projects
            </a>
        </li>
    </ul>
{% if user.is_authenticated %}
    <ul class='project-info'>
        <li>
            <a href="{% url "dashboard.views.projects.add" %}"
               class="green button-small">
                Add a Project
            </a>
        </li>
    </ul>
{% endif %}
    <ul class='project-info'>
        <li>
            <a href="{% url "dashboard.views.projects.pending_list" %}"
               class="green button-small">
                Proposals
            </a>
        </li>
    </ul>

<div class="clear"></div>

{% if projects and not nothing_fetched %}
    <div id="project-bars" class="dark">
        <div class="projects-bar-container">
            <div class="projects-bar-outline">
                <div class="projects-bar" id="overall-bar"
                     style="{{ overall_bar_css }}">
                </div>
            </div>
            <div class="projects-bar-text">
                {{ overall_count }} of {{ projects.count }}
                projects have been updated
            </div>
        </div>
        
        <div class="projects-bar-container">
            <div class="projects-bar-outline">
                <div class="projects-bar" id="repo-bar"
                     style="{{ repo_bar_css }}">
                </div>
            </div>
            <div class="projects-bar-text">
                {{ repo_count }} of {{ projects.count }}
                repositories have been updated
            </div>
        </div>
    
        <div class="projects-bar-container">
            <div class="projects-bar-outline">
                <div class="projects-bar" id="blog-bar"
                     style="{{ blog_bar_css }}">
                </div>
            </div>
            <div class="projects-bar-text">
                {{ blog_count }} of {{ projects.count }}
                blogs have been updated
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endif %}

{% endblock %}

{% block extracontent %}
<div id="projects-list">    
    {% for project in projects %}
        {% include "projects/partials/project_bubble.html" %}
    {% endfor %}
    {% for project in scoreless %}
        {% include "projects/partials/project_bubble.html" %}
    {% endfor %}
</div>
{% endblock %}
