{% extends "base.html" %}
{% load gravatar %}
{% load javascript %}

{% block head %}
{% endblock %}

{% block title %}Dashboard • {{ project.title }}{% endblock %}

{% block content %}
<h2 style='float:left'>{{ project.title }}</h2>

{% include "projects/info.html" %}

{% if has_screenshots %}
    <ul class="project-authors">
        {% for page in paginator.pages %}
            <div id="screenshot-page-{{page.number}}"
                 {% if page.number != default_page %}
                      style="display:none"
                 {% endif %}>
                {% for screen in page.object_list %}
                    <li>
                        <a href="{{ screen.url }}"
                           rel="lightbox"
                           title="{{ screen.title }}">
                            <img src="{{ screen.thumb_url }}"
                                 alt="{{ screen.title }}"
                                 class="screenshot-thumb" />
                        </a>
                    </li>
                {% endfor %}
            </div>
        {% endfor %}
        
        {% if paginator.num_pages > 1 %}
            <div class="screenshot-buttons">
                {% for page in paginator.pages %}
                    <a class="screenshot-switcher"
                       rel="#screenshot-page-{{page.number}}"
                       id="screenshot-switcher-{{page.number}}"
                       {% if page.number != default_page %}
                           style="opacity: 0.5"
                       {% endif %}>
                        •
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        
        <div style="clear: both"></div>
    </ul>
{% endif %}

<div id="project-clone">
    {{ project.repository.clone_cmd }}
</div>

<div id="project-description">
    {{ project.description|linebreaks }}
</div>

{% if project.authors.all %}
    <h2 style="float: left">Authors</h2>
    {% include "projects/partials/author_add_remove.html" %}
    
    <ul class="project-authors">
        {% for author in project.authors.all %}
            <li>
                <a href="{% url dashboard.views.users.profile author.id %}">
                    <div class="gloss-100"></div>
                    <img src="{{ author|gravatar:100 }}"
                         alt="{{ author.get_full_name }}" />
                    <p>{{ author.get_full_name }}</p>
                </a>
            </li>
        {% endfor %}
        <div style="clear: both"></div>
    </ul>
{% else %}
    <div id="project-no-authors">
        <h2>No current authors.</h2>
        <div id="project-no-authors-button">
            {% if user.is_authenticated %}
                <form action="{% url dashboard.views.projects.add_user %}"
                      method="post">
                    {% csrf_token %}
                    <input type="submit" value="I work on this!"
                           class="button" />
                    <input type="hidden" value="{{ project.id }}"
                          name="project_id" />
                    <input type="hidden" value="{{ user.id }}"
                          name="user_id" />
                </form>
            {% endif %}
        </div>
        <div style="clear:both"></div>
    </div>
{% endif %}
{% endblock %}

{% if project.score != None %}
    {% block extracontent %}
    <div id="project-recent-activity">
        <div id="project-recent-activity-left">
            {% if blogposts %}
                <h2>Recent Posts</h2>
                {% for post in blogposts %}
                    <div class="extra-content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.summary }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h2>No recent posts.</h2>
            {% endif %}
        </div>
        <div id="project-recent-activity-right">
            {% if commits %}
                <h2>Recent Commits</h2>
                {% for commit in commits %}
                    <div class="extra-content">
                        <h3>{{ commit.title }}</h3>
                        <p>{{ commit.description }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h2>No recent commits.</h2>
            {% endif %}
        </div>
    </div>
    <div style="clear:both">
    {% endblock %}
{% endif %}