{% extends "base.html" %}

{% block title %}Dashboard • {{ project.title }}{% endblock %}

{% block content %}
<h2>{{ project.title }}</h2>
<p id="project-description">
    {{ project.description }}
</p>

{% if project.authors.all %}
    <h3>Authors</h3>
    <ul>
        {% for author in project.authors.all %}
            <li>
                <a href="{% url dashboard.views.users.profile author.id %}">
                    {{ author.get_full_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>No authors.</h3>
{% endif %}
{% if user.is_authenticated and user not in project.authors.all %}
    <a href="{% url dashboard.views.projects.add_user project.id user.id %}">
        I work on this!
    </a>
{% else %}
    <a href="{% url dashboard.views.projects.remove_user project.id user.id%}">
        I'm not working on this anymore.
    </a>
{% endif %}

{%  endblock %}