{% extends "base.html" %}
{% load gravatar %}

{% block title %}Dashboard • {{ project.title }}{% endblock %}

{% block content %}
<h2 style='float:left'>{{ project.title }}</h2>

<ul class="project-info">
    {% if user in project.authors.all %}
        <li>
            <a href="{% url dashboard.views.projects.modify project.id %}">
                Modify
            </a>
        </li>
    {% endif %}
    {% if project.website %}
        <li><a href="{{ project.website }}">Website</a></li>
    {% endif %}
    {% if project.blog.url %}
        <li><a href="{{ project.blog.url }}">Blog</a></li>
    {% endif %}
    {% if project.repository.url %}
        <li><a href="{{ project.repository.url }}">
            Repository
        </a></li>
    {% endif %}
</ul>

<p id="project-description">
    {{ project.description|linebreaks }}
</p>

{% if project.authors.all %}
    <h2 style="float: left">Authors</h2>
    {% if user.is_authenticated %}
    <div class="project-info">
    {% if user not in project.authors.all %}
        <form action="{% url dashboard.views.projects.add_user %}"
              method="post">
            <input type="submit" value="I work on this!"
                   class="button-small" />
        </a>
    {% else %}
        <form action="{% url dashboard.views.projects.remove_user %}"
              method="post">
        <input type="submit" value="I'm not working on this anymore"
               class="button-small" />
    {% endif %}
        {% csrf_token %}
        <input type="hidden" value="{{ project.id }}" name="project_id" />
        <input type="hidden" value="{{ user.id }}" name="user_id" />
    </form>
    </div>
    {% endif %}
    
    <ul class="project-authors">
        {% for author in project.authors.all %}
            <li>
                <a href="{% url dashboard.views.users.profile author.id %}">
                    <div class="gloss-100"></div>
                    <img src="{{ author|gravatar:100 }}"
                         alt="{{ author.get_full_name }}" />
                    <p>{{ author.get_full_name }}</p>
                </a>
            </li>
        {% endfor %}
        <div style="clear: both"></div>
    </ul>
{% else %}
    <h2>No current authors.</h2>
{% endif %}

{% if project.blog.blogpost_set.all %}
    <h2>Blog Posts</h2>
    <ul class="project-posts">
        {% for post in project.blog.blogpost_set.all %}
        <li>
            <a href="{% url dashboard.views.blogs.show_post post.id %}">
                {% autoescape off %}{{ post.title }}{% endautoescape %}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{%  endblock %}