{% extends "base.html" %}

{% block title %}
Dashboard • Upload a screenshot for {{ project.title }}
{% endblock %}

{% block content %}
<h2>Upload a screenshot for {{ project.title }}</h2>
<form method="post"
    action="{% url "dashboard.views.projects.upload_screenshot" project.url_path %}"
    enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form }}
        
    <div class="submitbutton">
            <input type="submit" value="Upload Screenshot" />
    </div>
</form>
{% endblock %}
