{% extends "base.html" %}
{% load gravatar %}

{% block title %}Dashboard • Posts{% endblock %}

{% block extracontent %}
{% if page %}
    {% autoescape off %}
    <div id="posts-list">
        {% if page.object_list %}
        {% for post in page.object_list %}
        <div class="post extra-content" id="post-{{ post.id }}">
            <h2><a href="{% url dashboard.views.blogs.show_post post.project.url_path post.url_path %}">
                {{ post.title }}
            </a></h2>
            
            {{ post.content }}
            
            <div class="dark-bottom-bar">
                <div style="float:left">
                    {% if post.author %}
                        <a href="{% url dashboard.views.users.profile post.author.id %}">
                            {{ post.author.get_full_name }}
                        </a>
                    {% else %}
                        {% if post.author_name %}
                            {{ post.author_name }}
                        {% endif %}
                    {% endif %}
                </div>
                <div style="float:right">
                    <a href="{% url dashboard.views.projects.show post.project.url_path %}">
                        {{ post.project.title }}
                    </a> •
                    {{ post.age }}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        {% endfor %}
        {% else %}
            <div id="content">
                <h2>No posts found.</h2>
            </div>
        {% endif %}
    </div>
    {% endautoescape %}
    <div class="pagination-buttons">
        {% if page.has_previous %}
            <a class="pagination-previous button"
               href="{% url dashboard.views.blogs.posts_page page.previous_page_number %}">
                Previous Page
            </a>
        {% endif %}
        
        {% if page.has_next %}
            <a class="pagination-next button"
               href="{% url dashboard.views.blogs.posts_page page.next_page_number %}">
                Next Page
            </a>
        {% endif %}
        <div class="clear"></div>
    </div>
{% else %}
    <div id="content">
        <h2>No posts found.</h2>
    </div>
{% endif %}
{% endblock %}