{% extends "base.html" %}

{% block title %}Dashboard • Posts{% endblock %}

{% block content %}
{% if page %}
    {% autoescape off %}
    <div id="posts-list">
        {% for post in page.object_list %}
        <div class="post" id="post-{{ post.id }}">
            <h2><a href="{% url dashboard.views.blogs.show_post post.id %}">
                {{ post.title }}
            </a></h2>
            
            <a href=
                "{% url dashboard.views.projects.show post.blog.project.id %}">
                {{ post.blog.project.title }}
            </a>
            
            <div class="post-date">{{ post.date }}</div>
            {{ post.summary }}
        </div>
        {% endfor %}
    </div>
    {% endautoescape %}
    
    <div class="pagination-buttons">
        {% if page.has_previous %}
            <a class="pagination-previous"
               href="{% url dashboard.views.blogs.posts_page page.previous_page_number %}">
                Previous Page
            </a>
        {% endif %}
        
        {% if page.has_next %}
            <a class="pagination-next"
               href="{% url dashboard.views.blogs.posts_page page.next_page_number %}">
                Next Page
            </a>
        {% endif %}
    </div>
    <div style="clear:both"></div>
{% else %}
    <h2>No posts found.</h2>
{% endif %}
{% endblock %}