{% extends "base.html" %}
{% load event_bubble %}

{% block title %}{{ project.title }} • Blog{% endblock %}

{% block extracontent %}
    {% if user in project.authors.all %}
    <div style="width:80px; position:relative; right:-710px">
        <a href="{% url "dashboard.views.blogs.write_post" project.id %}"
           class="green button-small">
            Write a post
        </a>
    </div>
    {% endif %}

    {% if posts %}
		{% for post in posts %}
			{% event_bubble post 0 1 "post" %}
        {% endfor %}
    {% else %}
        <h2>No posts yet!</h2>
    {% endif %}
{% endblock %}
