{% extends "base.html" %}

{% block title %}Blog for {{ project.title }}{% endblock %}

{% block content %}
    {% if user in project.authors.all %}
    <div style="float:right">
        <a href="{% url dashboard.views.blogs.write_post project.id %}"
           class="button-small">
            Write a post
        </a>
    </div>
    {% endif %}

    {% if posts %}
        {% for post in posts %}
            {% autoescape off %}
                <a href="{% url dashboard.views.blogs.show_post post.project.url_path post.url_path %}">
                    <h2>{{ post.title }}</h2>
                </a>
                {{ post.content }}
            {% endautoescape %}
        {% endfor %}
    {% else %}
        <h2>No posts yet!</h2>
    {% endif %}
{% endblock %}