{% extends "base.html" %}

{% block title %}Dashboard • {{ post.title }}{% endblock %}

{% block content %}
{% autoescape off %}
    <h2 style="float:left">{{ post.title }}</h2>
    {% if user in post.blog.project.authors.all %}
        <div style="float:right">
            <a href="{% url dashboard.views.blogs.edit_post post.url_path %}"
               class="button-small">
                Edit Post
            </a>
        </div>
    {% endif %}
    <div style="clear:both"></div>
    {{ post.content }}
{% endautoescape %}
{% endblock %}