{% extends "base.html" %}
{% load event_bubble %}

{% block title %}{{ project.title }} • Blog{% endblock %}

{% block content %}
    {% if user in project.authors.all %}
    <div style="float:right">
        <a href="{% url dashboard.views.blogs.write_post project.id %}"
           class="button-small">
            Write a post
        </a>
    </div>
    {% endif %}

    {% if posts %}
		{% for post in posts %}
			{% event_bubble post 0 1 "post" %}
        {% endfor %}
    {% else %}
        <h2>No posts yet!</h2>
    {% endif %}
{% endblock %}
