{% extends 'rcos/talks/talk.html' %}

{% block title %}Success with RCOS Projects{% endblock %}

{% block speaker %}<a href="http://colin-sullivan.com">Colin Sullivan</a>, RPI CS student{% endblock %}

{% block date %}January 28, 2011 (Friday) Jec 3117 at 4:00 pm{% endblock %}

{% block content %}
  <p>His talk Slides are <a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B1uQWmnCzsgiNzJlN2NmOGMtYWI4MC00NjA1LTg1ZDctMzZkNDUwNGU4NzI4&hl=en&authkey=CKDH86cB" target="_blank">here</a></p>
{% endblock %}