{% extends 'rcos/talks/talk.html' %}

{% block title %}DynamoRIO{% endblock %}

{% block speaker %}Derek Bruening, Google{% endblock %}

{% block date %}May 5, 2011 (Friday) Lally 104 at 12:00 -12:30 pm pm{% endblock %}

{% block content %}
<p>
<div style="width:425px" id="__ss_8811138"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/mskmoorthy/dynamorio-rpiossaug2011" title="Dynamorio rpioss-aug2011" target="_blank">Dynamorio rpioss-aug2011</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/8811138" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/mskmoorthy" target="_blank">mskmoorthy</a> </div> </div>

</p>

{% endblock %}
