{% extends 'rcos/talks/talk.html' %}

{% block title %}How to get involved in an open source Linux operating system: Fedora{% endblock %}

{% block speaker %}Mairin Duffy, (Red Hat){% endblock %}

{% block date %}February 5, 2010, (Friday) 4:00 -5:00 pm{% endblock %}

{% block content %}
  <p>Fedora is a Linux-based operating system that showcases the latest in free and open source software. Fedora is always free for anyone to use, modify, and distribute. It is built by people across the globe who work together as an open community that welcomes anyone to join. Mairin Duffy, an RPI CS alum from Red Hat, will talk about what makes Fedora different from other Linux-based operating systems and how you can get involved in Fedora.<br /><a href="http://www.cs.rpi.edu/~moorthy/rcos/rpiposter-fedoratalk.pdf">Poster</a></p>
{% endblock %}