{% extends 'rcos/talks/talk.html' %}

{% block title %}Google Summer of Code: Program Overview{% endblock %}

{% block speaker %}Marcus Hanwell, <a href="http://www.kitware.com">Kitware</a>{% endblock %}

{% block date %}April 2nd (Friday) 4:00 pm JEC 3117{% endblock %}

{% block content %}
  <p>Abstract:<br />
    Marcus Hanwell participated in the Google Summer of Code program in 2007 as a student, and acted as a mentor in 2008 and 2009. He will present an overview of the Google Summer of Code program, why you should get involved and an overview of what is involved. Student applications are due by April 9.</p>
{% endblock %}