{% extends 'rcos/talks/talk.html' %}

{% block title %}Educating the Next Generation of FOSS Developers{% endblock %}

{% block speaker %}<a href="http://www.kitware.com/company/team/ibanez.html">Luis Ibanez</a> (kitware){% endblock %}

{% block date %}JEC 3117 7/9/2010 (Friday) Noon{% endblock %}

{% block content %}
  <p>Abstract:<br />
    An entire generation of engineers is currently being educated exclusively with proprietary software. As a consequence, these students do not get to learn how hardware and software systems really work. For three years we have been working on changing this by offering a college course on Open Source Software Practices. Come to hear about our experiences and help us make this a better course.</p>
{% endblock %}