{% extends 'rcos/talks/talk.html' %}

{% block title %}App Inventor for Android and CS Education{% endblock %}

{% block speaker %}Prof. Ralph Morelli, (Trinity College, Hartford, CT){% endblock %}

{% block date %}May 10, 2011, Lally 102 (Tuesday) 4:00 -5:00 pm{% endblock %}

{% block content %}
  <p>
App Inventor is a visual, web-based programming environment that makes it possible for non-programmers to develop apps for their mobile phones. The talk will describe the App Inventor language and how it can be used at the introductory level to teach CS concepts and principles.  Sample apps and projects from a college-level CS0 course will be used as examples.  The implications for CS education at various levels in the K-14 pipeline will be discussed. </p>
<p>
Bio: Ralph Morelli is a Professor of Computer Science at Trinity College in Hartford, CT, where he has been teaching CS since 1985.   He currently serves as one of the  Principal Investigators of the NSF-funded Humanitarian Free and Open Source Software Project (HFOSS), an attempt to help revitalize undergraduate computing education by getting students engaged in building software that benefits society.  He has a Ph.D. in Philosophy and an M.S. in Information and Computer Science from the University of Hawaii. In addition to HFOSS, his research interests include artificial intelligence and computer science education. </p>
<p> <a href=https://docs.google.com/present/view?id=dgv9njqt_105f4m58qch> poster link</a> </p>
{% endblock %}