{% extends 'rcos/talks/talk.html' %}

{% block title %}Humanitarian FOSS in Practice: Experiences and Lessons Learned{% endblock %}

{% block speaker %}Mr. Trishan R. de Lanerolle, (Trinity College, Hartford, CT){% endblock %}

{% block date %}August 5 2011, Lally 104 (Friday) 12:30 -1:00 pm{% endblock %}

{% block content %}

Bio:Trishan R. de Lanerolle is the Project Director for the Humanitarian FOSS Project at Trinity College in Hartford, Connecticut. He has a BS in Computer Science from Trinity College, and a MS in Management of Innovation and Technology from Rensselaer Polytechnic Institute (RPI). He is a founding member of the Sahana Software Foundation and community development committee member.  Mr. de Lanerolle has been a contributor to the development of several open source software applications for disaster management and humanitarian response efforts. He has published and co-authored papers on topics from Computer Science education to FOSS disaster management applications for several international conferences and journals.

{% endblock %}

