{% extends 'rcos/talks/talk.html' %}

{% block title %}Free Open Source Software for Everyone:
An Introduction to GNOME and GNOME Accessibility{% endblock %}

{% block speaker %}Mr. Wille Walker, (Gnome Foundation){% endblock %}

{% block date %}December 7th , 2009, (Monday) 4:00-500 pm{% endblock %}

{% block content %}
  <p>The leader of the GNOME Accessibility project, Willie Walker, will provide an introduction to the GNOME project with a focus on the free open source solutions being developed for people with disabilities.
    </p><p>
    The talk will also include a general discussion of the GNOME project, including how it is sustained and governed and what the community culture is like.   Willie will also talk about the tools used to help people collaborate at a distance and how you can become involved.</p>
{% endblock %}