{% extends 'rcos/talks/talk.html' %}

{% block title %}Success with RCOS Projects{% endblock %}

{% block speaker %}<a href="http://colin-sullivan.com">Colin Sullivan</a>, RPI CS student{% endblock %}

{% block date %}January 28, 2011 (Friday) Jec 3117 at 4:00 pm{% endblock %}

{% block content %}
<p>  
<object id="__sse6975626" width="477" height="510"><param name="movie" value="http://static.slidesharecdn.com/swf/doc_player.swf?doc=colin-sullivansuccessful-project-presentation-110218120614-phpapp01&stripped_title=colin-sullivan-successfulprojectpresentation&userName=mskmoorthy" /><param name="allowFullScreen" value="true"/><param name="allowScriptAccess" value="always"/><embed name="__sse6975626" src="http://static.slidesharecdn.com/swf/doc_player.swf?doc=colin-sullivansuccessful-project-presentation-110218120614-phpapp01&stripped_title=colin-sullivan-successfulprojectpresentation&userName=mskmoorthy" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="477" height="510"></embed></object><div style="padding:5px 0 12px">View more <a href="http://www.slideshare.net/">documents</a> from <a href="http://www.slideshare.net/mskmoorthy">mskmoorthy</a>.
</p>

{% endblock %}
