{% extends 'rcos/talks/talk.html' %}

{% block title %}Building Free Software for Society http://hfoss.org{% endblock %}

{% block speaker %}<a href="http://www.cs.trincoll.edu/~ram/">Prof. Ralph Morelli</a>, Trinity College, Hartford, CT{% endblock %}

{% block date %}JEC 3117, 7/16/2010 noon{% endblock %}

{% block content %}
  <p>Abstract:<br />Free and open source software (FOSS) is software that is licensed to be shared and remixed freely.  The Humanitarian FOSS project (HFOSS) is a collaborative effort among undergraduate computing departments aimed at building FOSS that serves the community in some way.  This talk will provide an overview of the HFOSS project, its history and goals,  and will focus on several of the projects that HFOSS participates in or has initiated.</p>
{% endblock %}