{% extends 'rcos/talks/talk.html' %}

{% block title %}Free Software: Copyright vs. Community{% endblock %}

{% block speaker %}<a href="http://stallman.org/">Richard Stallman</a>{% endblock %}

{% block date %}February 24, 2010 (Wednesday) 8:45-10:00 pm, DCC 308{% endblock %}

{% block content %}
  <p>Copyright developed in the age of the printing press, and was designed to fit with the system of centralized copying imposed by the printing press. But the copyright system does not fit well with computer networks, and only draconian punishments can enforce it.</p>
    <p>The global corporations that profit from copyright are lobbying for draconian punishments, and to increase their copyright powers, while suppressing public access to technology. But if we seriously hope to serve the only legitimate purpose of copyright--to promote progress, for the benefit of the public--then we must make changes in the other direction.</p>
{% endblock %}