/* Navigation bar */
#top {
    padding: 0px 20px;
    position: relative;
    height: 80px;
}

#top h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

#top h1, #navigation-main {
    line-height: 40px;
}

#top a, .navigation-bullet {
    font-family: "Kreon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #ddd;
    -moz-text-shadow: 0px 0px 5px #000;
    -webkit-text-shadow: 0px 0px 5px #000;
    text-shadow: 0px 0px 5px #000;
}

#top a {
    text-decoration: none;
}

#top a:hover {
    color: #fff;
    -moz-text-shadow: 0px 0px 5px #000;
    -webkit-text-shadow: 0px 0px 5px #000;
    text-shadow: 0px 0px 5px #000;
}

#top li {
    float: left;
    margin-left: 5px;
    padding: 0px;
}

#top ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: right;
}

#navigation-main {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#navigation-account {
    font-size: 10px;
    position: absolute;
    top: 58px;
    right: 20px;
}

.navigation-bullet {
    font-size: 12px;
    line-height: 44px;
}

/* Main content */
#content, .extra-content {
    background-color: #fff;
    clear: both;
    padding: 20px;
    
    margin-bottom: 20px;
    
    position: relative;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 0px 0px 20px #111;
    -webkit-box-shadow: 0px 0px 20px #111;
    box-shadow: 0px 0px 20px #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kreon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#content h2, .extra-content h2 {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    line-height: 30px;
}

#content h3, .extra-content h3 {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    line-height: 20px;
}

#content h2 a, .extra-content h2 a, #content h3 a, .extra-content h3 a {
   color: inherit;
   text-decoration: none;
}

#content h2 a:hover, .extra-content h2 a:hover,
#content h3 a:hover, .extra-content h3 a:hover {
   color: black;
}

/* errors */
#error-header {
  background: url('/site-media/pixels/bad-news-bears.gif') repeat-x;
  background-color: rgb(123, 21, 21);
  margin: -20px -20px 0px -20px;
  border-bottom: 1px solid white;
  
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#error-header h2 {
  font-size: 20pt;
  margin: 0px;
  color: rgb(66, 11, 11);
  height: 70px;
  padding: 0px 20px;
  line-height: 70px;

  -moz-text-shadow: 0px 1px 1px rgb(251, 104, 75);
  -webkit-text-shadow: 0px 1px 1px rgb(251, 104, 75);
  text-shadow: 0px 1px 1px rgb(251, 104, 75);
}

/* clearing things */
.clear {
  clear: both;
}

.rcos-links {
	margin-top: 4px;
	margin-bottom: 20px;
}
