html {
    background: url("/site-media/pixels/bg-html.png") #303136;
    font-family: "Puritan", 'Helvetica Neue', Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 10pt;
    color: rgb(30, 30, 30);
}

body {
  width: 790px;
  margin: 0px auto;
}

p {
    text-align: justify;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    line-height: 1.2em;
    font-size: 10pt;
}

pre {
  font-family: 'Inconsolata', monospace;
  font-size: 10pt;
  overflow: hidden;
}

a img {
  border: 0px;
}
