.top-bar {
    margin: -20px -20px 10px -20px;
    padding: 10px 20px 20px 20px;
}

.top-bar h2 {
    float: left;
}

/* light bars under initial headers */
.light-bar, .large-light-bar {
    margin: 10px -20px 0px -20px;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    position: relative;
    background: #eee;
}

.light-bar {
    font-size: 9pt;
    
}

.large-light-bar {

}

.light-bar .project-info form, .light-bar .project-info input {
	margin: 0px;
}

.dark {
    background: #222 url("/site-media/pixels/bg-dark.png");
    text-shadow: 0px -1px 0px #000;
    position: relative;
    
    margin: 0px -20px 0 -20px;
    padding: 0px 20px;
    
    color: #ddd;
    text-shadow: 1px 1px 0px #000;
}

.dark hr {
    margin: 0px -20px;
    border: none;
    border-top: 1px solid #111;
    border-bottom: 1px solid #333;
}

.dark a {
    color: #ccc;
    text-decoration: none;
}

.dark a:hover {
    color: #fff;
}

/* dark bottom bars at the bottom of boxes */
.bottom-bar {
    padding: 0px 20px;
    color: black;
    font-size: 11px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;

    position: absolute;
    bottom: 0px;
    left: 0px;
    
    background: #eee;
    border-top: 1px solid #ddd;

    height: 22px;
    width: 750px;
    
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
    text-shadow: 0px 1px 0px white;
}

.bottom-bar-left, .bottom-bar-right {
  position: absolute;
  line-height: 22px;
}

.bottom-bar-left {
  left: 20px;
}

.bottom-bar-right {
  right: 20px;
}

.bottom-bar a {
    color: #444;
    text-decoration: none;
}

.bottom-bar a:hover {
    color: black;
}

/* round the corners of images in posts and give them a subtle shadow */
.post img {
  margin: 0px auto;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post img, .post p {
  margin-bottom: 20px;
}

/* lightbox */

#lb-overlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
	z-index: 10;
}

#lb-container {
	position: fixed;
	z-index: 11;
	padding: 0px;
}

#lb-container img {
	background: white;
	border: 5px solid white;
	box-shadow: 0px 0px 20px black;
	-webkit-box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
}

#lb-container h2 {
	font-size: 20px;
	position: absolute;
	top: -25px;
	color: white;
	padding: 0px;
	margin: 0px;
}

.lb-close {
	position: absolute;
	top: -18px;
	right: -26px;
	background: black;
	color: white;
	width: 30px;
	height: 30px;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	border: 3px solid white;
	text-decoration: none;
	border-radius: 18px;
	
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
}
