/* tabs for the modify project page */
.four-tab {
    padding: 0px;
    margin: -20px -20px 20px -20px;
    height: 40px;

    color: black;

    -moz-text-shadow: 0px 1px 1px #555;
    -webkit-text-shadow: 0px 1px 1px #555;
    text-shadow: 0px 1px 1px #555;
    font-weight: bold;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    font-size: 12pt;
}

.four-tab li {
    width: 197px;
    float: left;
    list-style: none;
    text-align: center;
    line-height: 40px;
    height: 40px;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.four-tab li.active {
    background: #fff;
    
    color: #444;

    -moz-text-shadow: 0px 1px 1px #eee;
    -webkit-text-shadow: 0px 1px 1px #eee;
    text-shadow: 0px 1px 1px #eee;
}

.four-tab a {
    text-decoration: none;
    color: inherit;
}

.four-tab a:hover {
    color: #eee;
    text-shadow: 0px 0px 5px #000;
}

#content-container {
  position: relative;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.tab-content {
    left: 0;
    top: 0;
}

.modify-post-list {
    padding: 0px 0px;
}

.modify-post-list li {
    list-style: none;
    padding-left: 0px;
    clear: both;
    height: 35px;
}

.modify-post-list a {
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    margin: 0px 0px 0px 10px;
    width: 36px;
    text-align: center;
}

.modify-post-list div {
    float: left;
    width: 200px;
    text-align: left;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    overflow: hidden;
    font-size: 9pt;
}

#write-post-box-overlay {
	position: absolute;
	left: 0;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	background: #000;
	opacity: 0;
	
	display: none;
}

#write-post-box {
	width: 600px;
	padding: 0px 95px;
	display: none;
	opacity: 0;
	
	position: absolute;
	top: -200px;
	color: #eee;
}

#write-post-box p {
	float: left;
	line-height: 36px;
	padding: 0px;
	margin: 0px;
}

#write-post-box p a {
	color: white;
}

#write-post-box textarea {
	height: 400px;
	font-size: 14pt;
	width: 100%;
}

#write-post-box input[type="text"] {
	font-weight: 100;
	font-size: 24pt;
}

#write-post-box textarea, #write-post-box input[type="text"] {
	-moz-box-shadow: 0px 0px 40px black;
	-webkit-box-shadow: 0px 0px 40px black;
	box-shadow: 0px 0px 40px black;
	background: #fff;
	padding: 5px;
	border: none;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#write-post-box a.cancel, #write-post-box input[type="submit"] {
	-moz-box-shadow: 0px 0px 40px black;
	-webkit-box-shadow: 0px 0px 40px black;
	box-shadow: 0px 0px 40px black;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #111;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	
	padding: 10px;
	margin: 0px;
	
	color: #fff;
	border: 1px solid #444;
	
	text-shadow: 0px -1px 0px black;
	-moz-text-shadow: 0px -1px 0px black;
	=webkit-text-shadow: 0px -1px 0px black;
	
	background-image: -webkit-gradient(linear, left bottom, left top,
	                                   from(#111),
	                                   to(#222));
	background-image: -moz-linear-gradient(100% 100% 90deg,
	                                       rgb(213, 209, 205) 0%,
	                                       rgb(183, 183, 183) 100%);
}

#write-post-box a.cancel {
	display: block;
	float: right;
	margin-right: 20px;
}

#write-post-box input[type="submit"] {
	float: right;
}

/* screenshots tab */
.modify-screenshots .form-col-left {
	width: 500px !important;
}

.modify-screenshots .form-col-left div.screenshot {
	margin-bottom: 10px;
	position: relative;
}

.modify-screenshots img {
	padding: 0px;
	margin: 0px;
}

.modify-screenshots .form-col-left h3 {
	font-size: 12px !important;
}

.modify-screenshots .form-col-left div.screenshot-info {
	width: 240px;
	position: absolute;
	right: 10px;
	top: 5px;
}

.modify-screenshots .form-col-right {
	width: 220px;
}

.modify-screenshots input {
	font-size: 12px !important;
	padding: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

