/* project buttons */
.project-info {
    font-family: "Kreon", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 14px;
    float: right;
    list-style: none;
    line-height: 30px;
    font-weight: bold;
}

.project-info li {
  margin-left: 10px;
  float: left;
}

.project-info a {
  color: inherit;
  text-decoration: none;
}

.project-info a:hover {
  color: black;
}

/* project listing */
#projects-list {
  clear: both;
}

.project-score {
  color: white;
  
  margin: -30px 0px 0px -30px;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 0px 0px 3px #222;
  -webkit-box-shadow: 0px 0px 3px #222;
  box-shadow: 0px 0px 3px #222;
}

/* project authors */
.project-author {
  text-align: center;
}

#project-no-authors {
    height: 80px;
}

#project-no-authors h2 {
  float: left;
  color: white !important;
}

#project-no-authors-button {
  float: right;
  margin: 0px 20px;
}

#project-no-authors .button {
    -moz-box-shadow: 0px 0px 20px #000 !important;
    -webkit-box-shadow: 0px 0px 20px #000 !important;
    box-shadow: 0px 0px 20px #000 !important;
    padding-left: 20px;
    padding-right: 20px;
}	

.project-authors, #project-no-authors, #screenshots {
    padding: 15px 5px 5px 20px !important;
    margin: 0px -20px 0px -20px !important;
    clear: both;
}  

.project-authors, #screenshots {
  list-style: none;
  color: #aaa;
}

div.header {
    margin-top: 10px;
}

div.header h2 {
    float: left;
}

.project-authors img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    -moz-box-shadow: 0px 0px 5px #111;
    -webkit-box-shadow: 0px 0px 5px #111;
    box-shadow: 0px 0px 5px #111;
}

.project-authors p {
    padding: 0px;
    margin: 2px 0px 0px 0px;

    text-align: center;
    font-weight: bold;

    height: 26px;

    overflow: hidden;
    font-size: 11px !important;
}

.project-authors li, #screenshots li {
  position: relative;
  float: left;
}

.project-authors li {
  margin-right: 27px;
  margin-bottom: 12px;
  width: 100px;
}

/* project pages */
#project-clone {
    font-weight: normal !important;
    font-size: 10pt;
    font-family: "Inconsolata", monospace;
    padding: 5px 0px;
    float: left;
}

#project-clone-label {
    float: right;
    padding: 5px 0px;
    font-weight: bold;
    text-shadow: 0px 1px 0px #444;
    font-size: larger;
}

#project-description {
  clear: both;
  padding: 10px 0px 30px 0px;
}

.project-gravatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 5px 20px #bbb;
  -webkit-box-shadow: 0px 5px 20px #bbb;
  box-shadow: 0px 5px 20px #bbb;
}

#project-recent-activity {
  font-size: smaller;
  margin-top: 30px;
}

#project-recent-activity-left, #project-recent-activity-right {
    width: 355px;
}

#project-recent-activity-right .light-bar {
    border-left: 1px solid #ddd;
    
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#project-recent-activity-left {
    float: left;
}


#project-recent-activity-left img {
    max-width: 100%;
}

#project-recent-activity-right {
    float: right;
}

#project-recent-activity h2 {
    color: black;
    font-size: 25px;
    line-height: 30px;
}

#project-recent-activity h3 {
    line-height: 1em !important;
    margin-bottom: 0px !important;
}

.project-recent-header {
    position: relative;
}

.project-recent-header a {
    position: absolute;
    right: 0px;
    top: 2px;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
}

/* project screenshots */
.screenshot-buttons {
  text-align: center;
  color: white;
  font-size: 40pt;
  width: 100%;
  margin-bottom: -10px;
  padding-top: 185px;
}

.screenshot-switcher {
  cursor: pointer;
}

#screenshots {
	margin-bottom: 0px !important;
	overflow: hidden;
	position: relative;
	min-height: 210px;
	padding: 0px !important;
}

#screenshot-page-wrapper {
	position: absolute;
	height: 170px;
	padding: 20px 20px;
	left: 0px;
}

#screenshots p.screenshot {
	margin: 0px 21px 0px 0px;
	float: left;
	padding: 0px;
}

.screenshot-page {
	float: left;
	width: 790px;
}

#screenshots img {
	width:230px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black;
	
	background: white;
}

/* project updated "progress" bars */
#project-bars {
  margin: 0px -20px -20px -20px;
  padding: 20px 0px 10px 20px;
  
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.projects-bar-container {
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

.projects-bar-outline {
  width: 430px;
  position: absolute;
  left: 0px;
  top: 0px;
  
  border: 1px solid #777;
  background: #444;
  background-image: -webkit-gradient(linear, left bottom, left top,
                                     color-stop(0, #444),
                                     color-stop(1, #333));
  background-image: -moz-linear-gradient(100% 100% 90deg,
                                         #444 0%,
                                         #333 100%);
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
}

.projects-bar {
  height: 24px;
  background: #000;
  display: none;
  margin: 2px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  opacity: 0;
  position: relative;
}

.projects-bar-text {
  width: 320px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 450px;
  top: 0px;
  
  -moz-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
}
