/* RCOS specific stuff, if this ever ends up in master, something went wrong */

ul.rcos-links {
	list-style: none;
	padding: 0px 20px 0px 10px;
	margin: 0px;
}

ul.rcos-links a {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	
	padding: 10px 0px 0px 0px;
	
	text-decoration: none;
	
	color: #666;
	
	-moz-text-shadow: 0px 1px 0px #fff;
	-webkit-text-shadow: 0px 1px 0px #fff;
	text-shadow: 0px 1px 0px #fff;

	display: block;
}

ul.rcos-links a:hover {
	color: #444;
}

.rcos-content {
	position: relative;
}

.rcos-left {
	left: 0px;
	width: 565px;
	padding: 20px;
	background: #fff;
	
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	
	-moz-box-shadow: 0px 5px 20px #000;
	-webkit-box-shadow: 0px 5px 20px #000;
	box-shadow: 0px 5px 20px #000;
}

.rcos-right {
	position: absolute;
	top: 0px;
	right: 0px;
	
	background: #ddd;
	border-left: 1px solid #ccc;
	
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
	width: 184px;
	height: 100%;
}

.rcos-left hr {
	width: 555px;
	margin: 7px -20px 7px 0px;
	border: none;
	border-bottom: 1px solid #ccc;
}

.rcos-left img {
	margin: 5px -20px;
}
