/* RCOS specific stuff, if this ever ends up in master, something went wrong */

ul.rcos-links {
  list-style: none;
  padding: 0px 20px 0px 10px;
  margin: 0px;
}

ul.rcos-links a {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  
  padding: 10px 0px;
  margin-bottom: 10px;
  
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  
  background: rgb(24, 24 ,24);
  border: 1px solid #555;
  color: #aaa;
  
  -moz-text-shadow: 0px -1px 1px #000;
  -webkit-text-shadow: 0px -1px 1px #000;
  text-shadow: 0px -1px 1px #000;
  background-image: -webkit-gradient(linear, left bottom, left top,
                                     from(#0f0f0f), to(#2d2d2d));
  background-image: -moz-linear-gradient(100% 100% 90deg,
                                         #0f0f0f 0%, #2d2d2d 100%);
  display: block;
  
  -moz-box-shadow: 0px 0px 10px #111;
  -webkit-box-shadow: 0px 0px 10px #111;
  box-shadow: 0px 0px 10px #111;
}

ul.rcos-links a:hover {
  color: white;
  border-color: white;
  
  background-image: -webkit-gradient(linear, left bottom, left top,
                                     from(#0f0f0f), to(#353535));
  background-image: -moz-linear-gradient(100% 100% 90deg,
                                         #0f0f0f 0%, #353535 100%);
}

ul.rcos-links a:active {
  background-image: -webkit-gradient(linear, left bottom, left top,
                                     from(#2d2d2d), to(#0f0f0f));
  background-image: -moz-linear-gradient(100% 100% 90deg,
                                         #2d2d2d 0%, #0f0f0f 100%);
}

.rcos-content {
  position: relative;
}

.rcos-left {
  left: 0px;
  width: 535px;
  padding: 20px;
  
  background-image: url('/site-media/pixels/content-top.gif');
  background-image: -webkit-gradient(linear, left bottom, left top,
                                     from(rgb(255, 255, 255)),
                                     to(rgb(202, 198, 193)));
  background-image: -moz-linear-gradient(100% 100% 90deg,
                                         rgb(255, 255, 255) 0%,
                                         rgb(202, 198, 193) 100%);
  
  -webkit-background-size: 1px 200px;
  -moz-background-size: 1px 200px;
  background-size: 1px 200px;
  background-repeat: repeat-x;
  background-color: #fff;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 0px 5px 20px #000;
  -webkit-box-shadow: 0px 5px 20px #000;
  box-shadow: 0px 5px 20px #000;
}

.rcos-right {
  position: absolute;
  top: 0px;
  right: 0px;
  
  width: 200px;
  height: 100%;
}
