{% extends "base.html" %}
{% load gravatar %}

{% block content %}
<h2>
	We have {{ people|length }} {{ adjective }} active developer{{ people|length|pluralize}}.
</h2>
<ul class="project-authors dark">
	{% for person in people %}
	<li>
		<a href="{% url dashboard.views.users.profile person.id %}">
			<img src="{{ person|gravatar:100 }}"
			     alt="{{ author.get_full_name }}" />
			 <p>{{ person.get_full_name }}</p>
			 {% if person.is_staff %}
			 <div class="rcos-mentor">
				 Mentor
			 </div>
			 {% endif %}
		</a>
	</li>
	{% endfor %}
	<div style="clear:both"></div>
</ul>
{% if oldpeople %}
<h2>
	We have {{ oldpeople|length }} {{ oldadjective }} past developer{{ oldpeople|length|pluralize}}.
</h2>
<ul class="project-authors dark">
	{% for person in oldpeople %}
	<li>
		<a href="{% url dashboard.views.users.profile person.id %}">
			<img src="{{ person|gravatar:100 }}"
			     alt="{{ author.get_full_name }}" />
			 <p>{{ person.get_full_name }}</p>
			 {% if person.is_staff %}
			 <div class="rcos-mentor">
				 Mentor
			 </div>
			 {% endif %}
		</a>
	</li>
	{% endfor %}
	<div style="clear:both"></div>
</ul>
{% endif %}
{% endblock %}


