{% extends "base.html" %}
{% load gravatar %}

{% block title %}Dashboard • {{ user_page.get_full_name }}{% endblock %}

{% block content %}
<div id="profile-left">
    <h2>{{ user_page.get_full_name }}</h2>

    {% if user_page.project_set.all %}
    <h3>Projects</h3>
    <ul>
        {% for project in user_page.project_set.all %}
            <li>
                <a href="{% url dashboard.views.projects.show project.url_path %}">
                    {{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>No Projects.</h3>
    {% endif %}
</div>

<img src="{{ user_page|gravatar:200 }}" alt="{{ user_page.get_full_name }}"
    id="profile-gravatar" />
<div style="clear:both">
{%  endblock %}