{% extends "base.html" %}
{% load gravatar %}

{% block title %}{{ user_page.get_full_name }}{% endblock %}

{% block content %}
<div id="profile-left">
	<h2 style="float:left">
		{{ user_page.get_full_name }}
	</h2>
	
	{% if is_self %}
	<div style="float:right">
		<a href="{% url "dashboard.views.blogs.edit_personal_blog" user_page.id %}" class="green button-small">
			Personal Blog Settings
		</a>
	</div>
	{% endif %}
	<div class="clear"></div>
	{% if user.info.mentor or is_self %}
	<div style="float:right">
		{% if user_page.is_active %}
		<a href="{% url "dashboard.views.users.deactivate" user_page.id %}" class="green button-small">
			Deactivate User
		</a>
		{% else %}
		<a href="{% url "dashboard.views.users.activate" user_page.id %}" class="green button-small">
			Activate User
		</a>
		{% endif %}
	</div>
	{% endif %}
	<p>
		{{ user_page.email }}
	</p>
	
	{% if user_page.project_set.all %}
	<h3>Projects</h3>
	<ul>
		{% for project in user_page.project_set.all %}
		<li>
			<a href="{% url "dashboard.views.projects.show" project.url_path %}">
				{{ project.title }}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<h3>Not an author of any projects.</h3>
	{% endif %}

	{% if contributor and contributor.projects.all %}
	<h3 style="padding-top: 20px">Contributed to:</h3>
	<ul>
		{% for project in contributor.projects.all %}
		<li>
			<a href="{% url "dashboard.views.projects.show" project.url_path %}">
				{{ project.title }}
			</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

<img src="{{ user_page|gravatar:200 }}" alt="{{ user_page.get_full_name }}"
	id="profile-gravatar" />
<div style="clear:both"></div>
{%  endblock %}
