{% extends "base.html" %}

{% block extratitle %}{% endblock %}

{% block extracontent %}
    <div class="rcos-content">
        <div class="rcos-left">
            {% block rcoscontent %}{% endblock %}
        </div>
        <div class="rcos-right">
            <ul class="rcos-links">
				<li><a href="{% url "rcos.views.index" %}">About</a></li>
				<li><a href="{% url "rcos.views.howtojoin" %}">How to Join</a></li>
				<li><a href="{% url "rcos.views.calendar" %}">Calendar</a></li>
                <li><a href="{% url "rcos.views.faq" %}">Frequently Asked Questions</a></li>
                <li><a href="{% url "rcos.views.donor" %}">Donor</a></li>
                <li><a href="{% url "rcos.views.students" %}">Students</a></li>
                <li><a href="http://public.kitware.com/OpenSourceSoftwarePractice/index.php/Main_Page">Courses</a></li>
                <li><a href="{% url "rcos.views.talks" %}">Talks</a></li>
                <li><a href="{% url "rcos.views.past_projects" %}">Past Projects</a></li>
                <li><a href="{% url "rcos.views.progcomp" %}">Programming Competition</a></li>
                <li><a href="{% url "rcos.views.achievements" %}">Achievements</a></li>
                <li><a href="http://www.rpi.edu/dept/cct/apps/undergrad/resources/PDFs/URP_Application_2010.pdf">URP Application</a></li>
                <li><a href="{% url "rcos.views.talksignup" %}">Talk Sign-up</a></li>
                <li><a href="https://spreadsheets.google.com/spreadsheet/ccc?key=0AmUFEZRUC23ddDRSdE5GU2ZlMW1xb2JXckdUVjNZV2c"> Project Suggestions</a></li>
                <li><a href="{% url "rcos.views.linksandcontacts" %}">Links &amp; Contacts</a></li>
                <li><a href="{% url "rcos.views.irc" %}">IRC Chat Channel</a></li>
			</ul>
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRensselaer-Center-For-Open-Source%2F194611683915071&amp;width=185&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:185px; height:427px;" allowTransparency="true"></iframe>
        </div>
    </div>
{% endblock %}


