{% extends "rcos/base.html" %}

{% block rcoscontent %}

<h1> Attending Meetings </h1>
Freshmen/Sophomores are welcome to come to our meetings and learn what is going on - before submitting proposals.
RCOS is an extremely friendly, helpful and bright group of students dedicated to developing open source
software. We meet on Tuesdays in Sage 3510 from 4 to 5:00 pm.
<h1>How to Join RCOS</h1>
The process to join RCOS has two main components, an RCOS proposal, and a URP proposal.
<h2>RCOS Proposal</h2>
The proposal process is very important. A well written proposal lays the ground work for a successful RCOS project. The proposal should include an overview of the project, your semester-long goals, and a "task list" of very detailed items that you will accomplish in the first few weeks of the semester. Similar task lists should be created throughout the semester. Your RCOS proposal must be submitted at least a week earlier than the URP deadline.
You can work on anything you want as long as its open source, whether its a large open source project, or your own project.
<br />
Write up your proposal and create a project on observatory (This website). Write your project as a blogpost and email it to the <a href="mailto:rcos-at-rensselaer@googlegroups.com">rcos mailing list (rcos-at-rensselaer@googlegroups.com)</a>
<br />
You should receive feedback from the mailing list. To view the feedback you should be subscribed to the mailing list, or you can view it online at <a href="https://groups.google.com/forum/#!forum/rcos-at-rensselaer">https://groups.google.com/forum/#!forum/rcos-at-rensselaer</a>. Once your project is approved you will recieve a mentor on observatory (This website). If the deadline is coming up and you don't have a mentor please email <a href="mailto:ricec2@rpi.edu">Colin Rice</a>
<h2>URP Proposal</h2>
Once RCOS has approved your project, you will need to write a condensed form of the proposal to submit to RPI. Please submit a <a href="http://www.rpi.edu/dept/cct/apps/undergrad/resources/PDFs/URP_Application_2010.pdf">URP proposal form</a> to Professor Goldschmidt, Lally 209 by 9/9/2013.

<h2> Deadline </h2>
<p>
To apply for Fall 2013 URP, please apply on or before 9/9, our first meeting is on Tuesday 8/27.
</p>

<h2>Compensation Decision</h2>
Compensation for your work on an RCOS project comes in one of two forms: a stipend or course credit.
<h3>Stipend</h3>
The Fall/Spring semester stipend is $1200. The Summer term stipend is $3500.

<h3>Course Credit</h3>
Typically you can apply for 3 or 4 credits for an RCOS URP. The expected amount of work is 4*N hours/week where N = the number of credits applied for.

<img style="margin: auto;" src="/site-media/rcos/images/december-graduates_cropped.jpg"></img>
{% endblock %}
