{% extends "rcos/base.html" %}

{% block rcoscontent %}
<ul>
<li> Spring 2011 <a href=http://rcos.rpi.edu/projects/ target="_blank"> Spring 2011 Projects </a> <br>and <a href=http://rcos.rpi.edu/posts/ target="_blank"> Blog Posts  </a> </li>
<li> Fall 2010 <a href=http://dashboard.rcos.cs.rpi.edu/groups/dashboard/3 target="_blank"> Fall 2010 Projects in our old dashboard </a> You can click on the project and blogs to  get the details. </li>
<li> Summer 2010 <a href=http://dashboard.rcos.cs.rpi.edu/groups/dashboard/2 target="_blank"> Summer 2010 Projects in our old dashboard </a> You can click on the project and blogs to  get the details. </li>
<li> Spring 2010 <a href=http://dashboard.rcos.cs.rpi.edu/groups/dashboard/1 target="_blank"> Spring 2010 Projects in our old dashboard </a> You can click on the project and blogs to  get the details. </li>

<li> Fall 2007-Fall 2009 <li> <a href=http://www.cs.rpi.edu/~moorthy/rcos/projects.html target="_blank"> Fall 2007-Fall 2009 Projects</a> You can click on the project and blogs to  get the details. </li>
</ul>
{% endblock %}
