{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h1>Students</h1>
<h3> Fall 2013 Group Photo</h3>
<img src="/site-media/rcos/images/Fall2013-rcos.jpg" width=600 alt="Fall 2013- RCOS Group Photo" />
<h3> Summer 2013 Hackathon Photo</h3>
<img src="/site-media/rcos/images/Summer2013-hackathon.jpg" width=600 alt="Summer 2013- RCOS Hackathon" />
<h3>Summer 2013 Group Photo</h3>
<img src="/site-media/rcos/images/Summer2013-rcos.jpg" height=198 width=600 alt="Summer 2013- RCOS Students" />
<h3>Spring 2013 Group Photo</h3>
<img src="/site-media/rcos/images/spring_2013-rcos.jpg" height=198 width=600 alt="Spring 2013- RCOS URP Students January 2013" />
<h3>Fall 2012 Group Photo</h3>
<img src="/site-media/rcos/images/fall_2012-rcos.jpg"  height=194 width=600 alt="Fall 2012- RCOS URP Students September 2012" />
<h3> Summer 2012 Group Photo </h3>
<img src="/site-media/rcos/images/Summer2012-rcos.jpg" height=400 width=600 alt="Summer 2012- RCOS URP Students June 2012" />
<h3> Spring 2012 Uundergraduate Research Symposium Poster Session </h3>
<img src="/site-media/rcos/images/Group-ugrs-2012.JPG" alt="Spring 2012- RCOS UGRS Poster  April 2012" />
<img src="/site-media/rcos/images/matt-ugrs-2012.JPG" alt="Spring 2012- RCOS UGRS Poster  April 2012" />
<img src="/site-media/rcos/images/reroot-ugrs-2012.JPG" alt="Spring 2012- RCOS UGRS Poster  April 2012" />
<img src="/site-media/rcos/images/rpidir-ugrs-2012.JPG" alt="Spring 2012- RCOS UGRS Poster  April 2012" />
<img src="/site-media/rcos/images/yacs-ugr-2012.JPG" alt="Spring 2012- RCOS UGRS Poster  April 2012" />
<h3> Spring 2012 RCOS URP Students Group Photo </h3>
<img src="/site-media/rcos/images/rcos-spring2012.jpg" alt="Spring 2012- RCOS URP Students  February 2012" />
<h3> Fall 2011 RCOS Students with Entrepreneur of the Year Sean O'Sullivan (Photo credits: Rob Totaro, Double Exposure Marketing)</h3>
<img src="/site-media/rcos/images/fall2011-EOY.jpg" alt="Fall 2011 RCOS Students with Entrepreneur of the Year Sean O'Sullivan" />
<h3> Fall 2011 RCOS URP Students Group Photo </h3>
<img src="/site-media/rcos/images/rcos-fall2011.jpg" alt="Fall 2011- RCOS URP Students  September 2011" />
<h3> Summer 2011 RCOS URP Students Group Photo </h3>
<img src="/site-media/rcos/images/rcos-summer2011.jpg" alt="Summer 2011- RCOS URP Students May 2011" />
<h3> Graduating RCOS/HFOSS Students May 2011 </h3>
<img src="/site-media/rcos/images/grads-2011-may-2.jpg" alt="Graduating RCOS/HFOSS Students May 2011" />
<h3>Spring 2011 Group Photo</h3>
<img src="/site-media/rcos/images/rcos-spring2011-final.jpg" alt="Spring 2011 RCOS Group Photo-still going strong at the last day" />

<a href="/site-media/rcos/images/group-spring-2011.jpg"><img src="/site-media/rcos/images/group-spring-2011-thumb.jpg" alt="Spring 2011 RCOS Group Photo" /></a>
<h3> Facebook Hackathon (RCOS members participatin 3/5/2011) </h3>
<img src="/site-media/rcos/images/facebook-hackathon.jpg" alt="rcos students" />
<h3>Spring 2011 Poster Session</h3>
<img src="/site-media/rcos/images/poster-sp2011/img_0051.jpg"
     alt="Peter Hajas' MobileNotifier poster" />
<img src="/site-media/rcos/images/poster-sp2011/img_0061.jpg"
     alt="Nate Stedman's Ease poster" />
<img src="/site-media/rcos/images/poster-sp2011/img_0063.jpg"
     alt="A line of posters" />
<img src="/site-media/rcos/images/poster-sp2011/img_0067.jpg"
     alt="Posters and presenters" />

	 <h3> Summer 2008 </h3>
	 <a href="/site-media/rcos/images/students.jpg" target='_blank'><img src="/site-media/rcos/images/students_thm.JPG" alt='Summer 2008'/></a>
	 <h3> Fall 2008 </h3>
	 <a href="/site-media/rcos/images/students2.jpg" target='_blank'><img src="/site-media/rcos/images/students2_thm.jpg" alt='Fall 2008'/></a>
	 <h3> Spring 2009 </h3>
	 <a href="/site-media/rcos/images/rcos-goodcopy.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-goodcopy-thm.jpg" alt='Spring 2009'/></a>
	 <h3> Summer 2009 </h3>
	 <a href="/site-media/rcos/images/rcos-summer09.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-summer09.jpg" alt='Summer 2009'/></a>
	 <h3> Fall 2009 </h3>
	 <a href="/site-media/rcos/images/rcos-f09students.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-f09students.jpg" alt='Fall 2009'/></a>
<br /><br />


	 <h3> Mr. Sean O'Sullivan's visit on Oct 1, 2009 </h3>
	 <a href="/site-media/rcos/images/rcos-sean1.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-sean1.jpg" alt="Sean's visit to RPI on October 1, 2009" /></a>
	 <h3> Spring 2010 </h3>
	 <a href="/site-media/rcos/images/rcos-sp10students.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-sp10students.jpg" alt='Spring 2010' /></a>
<br /><br />
<h3> Mairin Duffy '2003 Talk </h3>
The talk <a href="http://www.flickr.com/photos/mairin/sets/72157623237398553/"> Pictures </a> found here.
<hr />
<br />
<h3> Undergraduate Research Symposium 2010 (April 27) Poster Presentation </h3>
<h3> Poster Presenters - John McMaster, Alex Radocea, Allen Lavoie, Griffin Milsap, Andrew Zonenberg </h3>
<br />
<img src="/site-media/rcos/images/JohnMc-ugrs-2010s.jpg" />
<br />
<img src="/site-media/rcos/images/alexR-ugrs-2010s.jpg" />
<br />
<img src="/site-media/rcos/images/allenL-ugrs-2010s.jpg" />
<br />
<img src="/site-media/rcos/images/griffinM-ugrs-2010s.jpg" />
<br />
<img src="/site-media/rcos/images/andrewZ-ugrs-2010s.jpg" />
<br /><br />
<h2> Poster Presentation 5/7/2010 </h2>
<h3> Smiling and Helpful Seniors</h3>
<img src="/site-media/rcos/images/smiling-seniors-small.jpg" />
<br /><br />
<h3> Group Photo </h3>
<img src="/site-media/rcos/images/groups-sp2010-poster-small.jpg" />
<br /><br />
	 <h3> Summer 2010 </h3>
	 <a href="/site-media/rcos/images/rcos-summer2010.jpg" target='_blank'><img src="/site-media/rcos/images/rcos-summer2010.jpg" alt='Summer 2010'/></a>

<br />
<h2> Snapshot of Students' Summer 2010 Final Presentations </h2>
<h3> Luke Perkins </h3>
<img src="/site-media/rcos/images/luke-summer-2010-1.jpg" />
<h3> Nick Steele </h3>
<img src="/site-media/rcos/images/nick-vite-box-summer2010.jpg" />
<h3> Steve - James </h3>
<img src="/site-media/rcos/images/steve-james-summer2010.jpg" />
<h3> Ryan Dignard </h3>
<img src="/site-media/rcos/images/ryan-d-summer2010.jpg" />
<h3> Ben and Ryan Baltazar </h3>
<img src="/site-media/rcos/images/ben-ryan-js-summer2010.jpg" />
<h3> Mike O'K </h3>
<img src="/site-media/rcos/images/mike-ok-summer2010-2.jpg" />
<h2> Poster Presentation on 9/3/2010 for Summer 2010 Projects </h2>
<h3> Nate Stedman and Rob carr - Ease </h3>
<img src="/site-media/rcos/images/nate-poster-2010.jpg" />

<h3> Graylin Kim - Fllodlight and Open Legislatio n </h3>
<img src="/site-media/rcos/images/floodlight-poster-2010.jpg" />

<h3> Ryan Baltazar and Ben Shippe - Jumstart </h3>
<img src="/site-media/rcos/images/jumpstart.jpg" />

<h3> Jason Zallinger - Gmail Game </h3>
<img src="/site-media/rcos/images/gmail-game.jpg" />
<hr />
<h2> Fall 2010 Students Group Photo </h2>
<img src="/site-media/rcos/images/rcos-fall2010-1.jpg" />
<hr />
<h2> Fall 2010 Students at the end of Fall Semester Decmeber 10,2010. </h2>
<img src="/site-media/rcos/images/fall2010-rcos-dec.jpg" />
<hr />
<h2> Mentors of Fall 2010 </h2>
<img src="/site-media/rcos/images/mentors-fall2010.jpg" />
<hr />
<h2> Fall Graduates 2010 </h2>
<img src="/site-media/rcos/images/december-graduates.jpg" />
{% endblock %}
