{% extends "rcos/base.html" %}

{% block rcoscontent %}

 {% include 'rcos/talks/trishan-summer2011.html' %}

 {% include 'rcos/talks/derek-summer2011.html' %}

  {% include 'rcos/talks/morelli_spring2011.html' %}

  {% include 'rcos/talks/chris_welty_watson.html' %}

  {% include 'rcos/talks/colin_success_talk.html' %}

  {% include 'rcos/talks/doria_opencontent.html' %}

  {% include 'rcos/talks/radocea_security_contest.html' %}

  {% include 'rcos/talks/morelli_trinity_society.html' %}

  {% include 'rcos/talks/ibanez_foss.html' %}

  {% include 'rcos/talks/hanwell_gsoc.html' %}

  {% include 'rcos/talks/stallman_copyright_community.html' %}

  {% include 'rcos/talks/duffy_redhat.html' %}

  {% include 'rcos/talks/walker_gnome_accessibility.html' %}

  {% include 'rcos/talks/mackie_ossp.html' %}

{% endblock %}