{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h2> Software Developed by RCOS supported Students used elsewhere and Local and  Worldwide Competitions won by RCOS supported students</h2>
<br> Caveat: (c) YYYY all rights reserved - Some of the images in this page have their own licenses- Please respect that.
<hr />
<b> Peter Hajas </b> released his <b> Mobile Notifier v4 </b> early May 2011, and his IPhone software has been downloaded more than <b> 206,000</b> times. He has more than one developer contributing to his project. Congratulations and Keep up the good work <b> Peter!</b>
<hr />
<b>Joe Dougherty </b> and <b>Tom Rozanski </b> finished in second place for Services/Non-profit category in <a href=http://www.neny.org/ContentManager/index.cfm?Step=Display&ContentID=401> New York Business Plan Competition</a>. They received a prize of 5,000 dollars.<a href=http://news.rpi.edu/update.do?artcenterkey=2864> details from rpi information site </a> Congratulations to <b>Joe</b> and <b>Tom</b>!!!

<hr />
The number of downloads (as of April 21, 2011) of the shuttle tracker applications so far. <br>
iOS - 117 <br>
Android - 64<br>
Congratulations to <b> Alex, Austin, Brendon </b>and <b>Umesh</b>.
<hr />
On April 17th <b> Amy Wieliczka </b> and <b>Beth Werbaneth</b> represented RCOS at Design Your Future Day, informing 150 high achieving high school girls and their parents about the opportunities for exploring Computer Science and open source software at RPI

<hr />

On Accepted Students Day (4/9/2011)  many RCOS students participated and showcased their projects.with RCOS for students who have been accpted to RPI class of 2016. These students include <b> Nate Stedman, Peter Hajas, Joe LaBarbera, Zack Clapper, Tim Horton, Matt Arsenault, Brian Michalski,</b> and <b> Brendon Justin </b>,  

.
<hr />
There is a write up about <a href=http://j2ee6.server.rpi.edu:9090/web/guest>course scheduler </a>developed by UPE and RCOS <a href=http://news.rpi.edu/update.do?artcenterkey=2850>here (RPI Home page (4/8/2011) </a>. Congratulations to <b> EVan, Dan P, and Joe Z </b>
<hr />
The <a href=http://rcos.rpi.edu/projects/fire-department-management-syste/>Fire Department Management System</a> by Joe Dougherty and Thomas Rozanski has been accepted as a finalist to the <a href=http://www.neny.org/competition/2011/home>New Energy New York 2011 Business Plan Competition! </a> We will be presenting on April 28th at the College of Nanoscale Science & Engineering's facilities in Albany. Congratulations to <b> Joe and Tom </b>
<hr />
The <a href=http://rcos.rpi.edu/projects/milkywayhome/> Milkyway project </a> has about 26,000 active users within the last 30 days (March 7-April 7, 2011). Congratulations to
<b> Matt Arsenault </b> 
<hr />
The following students participated in Second Annual Undergraduate Research Symposium They are <b> Nate stedman, Graylin Kim, Tim Horton, Peter Hajas, Rob Carr, Brendon Justin, Alexander Shulgach, Austin Wagner, Umesh Jonnalagadda, Colin Sullivan, Kathryn Celentano, Mike Ding, Jeff Warren and Ash Islam </b> Congratulations to all of them for wonderful posters and presentations Special Congratulations to <b> Peter and Nate </b> for winning the honorable mentions award.
<nr>
RCOS students presented at the Second Annual <a href="http://ugrs.rpi.edu/">
	Undergraduate Research Symposium</a>.
<img src="/site-media/rcos/images/mobileshuttle-ugrs.jpg"
	 alt="Mobile Shuttle Tracker at the UGRS" />

<img src="/site-media/rcos/images/peter-hajas-ugrs.jpg"
	 alt="Peter Hajas presenting MobileNotifier at the UGRS" />

<img src="/site-media/rcos/images/robb-carr-gobject.jpg"
	 alt="Robb Carr presenting GObject Detector at the UGRS" />

<hr />

<a href=http://opensource.com/education/11/3/how-founding-open-source-software-center-university> how of founding a open source software center at RPI </a> an article by Dave Doria in Opensource.com.

<br>
Congratulations and thanks to <b> Dave Doria </b> for promoting and helping RCOS activities.

<hr />
<p>
MobileNotifier (by Peter Hajas) has been downloaded more than 138000 times. Awesome <b> Peter Hajas </b>
<hr />

<p>
A blog (by Leslie Hawthorne) in <a href=http://opensource.com/education/11/3/humanitarian-free-and-open-source-software-local-community
> opensource,com </a> mentions about rcos in the recent HFOSS workshop (under SIGCSE 2011 conference in Dallas), TX.
<p>
Another blog <a href=http://stormyscorner.com/2011/03/rpi-students-create-some-cool-things.html> http://stormyscorner.com/2011/03/rpi-students-create-some-cool-things.html </a> mentions about the cool projects done at RCOS! (as a aprt of HFOSS workshop at SIGCSE 2011 conference in Dallas, TX).
 Congratulations to <b> Brian Michalski </b> and  and <b>Graylin Kim </b> Who had poster sessions on Community mapping and Open Legislation respectively.
<hr />
<p> <b>David Doria </b>  is  the latest community member to be featured in our Contributor Spotlight in open source.com.
Have a look: <a href=http://opensource.com/>  http://opensource.com </a> Dated 3/1/2011. Congratulations to <b> David Doria </b>
  <hr />
<p>
<a href=rcos.rpi.edu>RCOS</a> project <b> MobileNotifier </b> by <b>Peter Hajas </b>is on the front page of <a href=http://www.engadget.com/2011/02/28/mobilenotifier-iphone-alerts-improved-video/ >Engadget</> for IPhones!
<nr>
IMobile Notifier is also in <a href=http://www.bgr.com/2011/02/28/developer-shows-off-ios-notifications-that-dont-suck-vide>Boygenius report </a>
<br>
<a href=http://gizmodo.com/#!5772414/why-cant-apple-just-make-ios-notifications-like-this> Gonzmodo</a>
<br>
In wired <a href=http://www.wired.com/gadgetlab/2011/03/mobilenotifier-for-ios-embarrasses-apples-poor-effort/> Wired </a>
<br>
Congratulations <b> Peter </b>

<hr />
<p>
<b> MobileNotifier </b> a continuing project of <b> Peter Hajas </b> project  is really generating a lot of buzz!

Here's a forum post about it:

<a href=http://www.macthemes.net/forum/viewtopic.php?pid=773917 target ="_blank"> Forum where it is discussed </a>
<br>
a <a href=http://mobilegeekdom.blogspot.com/2011/01/mobilenotifier-another-attempt-at.html target="_blank"> blog post </a> about it:
and there's a LOT of buzz on <a href=http://twitter.com/#!/search/mobilenotifier target="_blank">Twitter!</a> 
Congratulations to <b> Peter Hajas </b>


<hr />
    <p>
        Dave Doria, a lead peer mentor was nice enough to publish a <a href="http://opensource.com/education/11/2/open-source-software-gains-ground-higher-education">short article</a> about RCOS in <em>Open Source</em> - an online journal on open source (appeared on 2/11/2011). Congratulations to <strong>David Doria</strong>.
    </p>
    <hr />
    <p>
        Poly has published (on December 12/8/2010) a very nice article on RPISEC during their CTF competition. Many members of RPISEC are also members of RCOS. There
        has been a lot of co-operation between RPISEC and RCOS - pooling the resources
        to achieve greater things. Ryan G, John McM, Alex Rad are mentioned by name
        in that article.
    </p>
    <hr />
    <p>
        <a href="http://poly.union.rpi.edu">Poly</a> had published a nice
        article on RCOS on November 10, 2010. That article may be found
        <a href="http://www.cs.rpi.edu/~moorthy/rcos/polyarticle.pdf">here</a>.
    </p>
    <hr />
    <p>
        In Capture the Flag Competition in
        <a href="http://www.poly.edu/csaw">Cyber Security Awareness Week at NY
        Poly Nov. 2010</a> RPISEC (with team members <b>Ryan Govostes, Adam
        Comella, Jeremy Pope, and Shawn Denbow)</b> came third behind two
        teams from CMU. Ryan Govostes had been associated with RCOS. 
        Congratulations to <strong>Ryan, Adam, Jeremy and Shawn of the
        RPISEC team.</strong>
    </p>
    <hr />
    <p>
        <b>Ease</b> started as a summer 2009 rcos project by
        <b>Nate Stedman</b> and currently devloped by <b>Nate</b> and
        <b>Rob</b> got an excellent review
        <a href="http://www.omgubuntu.co.uk/2010/11/ease-clutter-presentation-app-linux-ubuntu/">here</a>. Their opening statement is "Better yet it (ease) has a very neat, animated cluttter-based
        interface that makes OpenOffice.Org Impress look so Windows 95 in
        comparison". Wow - That is an accomplishment!
        Congratulations to <strong>Nate Stedman, Rob Carr</strong>
    </p>
    <hr />
    <p>
        <b>CERN</b> uses Concerto for their digital signage displays. Please see
        <a href="https://twiki.cern.ch/twiki/bin/view/EGEE/ConcertoScreens">ConcertoScreens</a>. Congratulations to <strong> Brian Zaik and the WTG team at RPI </strong>
    </p>
    <hr />
    <p>
        <b>Tim Horton, Matt Arsenault, Nate Stedman </b> attended Gnome summitt in Boston on 6 and 7th of November.
        <img src="/site-media/rcos/images/gnome-summit-2010-nov.jpg" width="600">Topics of discussion included <b>Ease</b> Nate and Rob's presentation software.
        <a href="http://jasondclinton.livejournal.com/"> Blog about the Summit</a> 
        Congratulations to <strong>Tim, Nate and Matt</strong>.
    </p>
    <hr />
    <p>
        In the recent Honors convocation at RPI, the following RCOS people were honored.
        <b>Luke Perkins, Evan Patton, Allen Lavoie, David Doria, Nate Stedman,</b>
        Congratulations to <strong>Luke, Evan, Allen, Dave and Nate</strong>
    </p>
    <hr />
    <p>
        For the spring Semester 2011, RPI is opening Evan Patton and group's  ROCS, Rensselaer Online COurse Scheduler for all students at RPI. From a lightning talk
        at the recent Jasig conference by Arlen Johnson on ROCS was received 
        enthusiastically by other universities. <a href="http://coursescheduler.rpi.edu"> Course Scheduler </a> is the offcial web site. Thanks to dotCIO's office (Arlen Johnson in particular), Registrar's office (Sharon Kunkel and Mike Conroy)
        were extremely co-operative. Congratulations to
        <strong>Evan Patton and UPE Group</strong> for proposing this as a <a href="http://rpi-rocs.blogspot.com/">RCOS project</a> 
    </p>
    <hr />
    <p>
        <b> Devin Ross </b> RCOS alumni was interviewed by David Appleyard of Envato 
        for the recently published ebook 
        <a href="http://rockablepress.com/books/iphone-app-entrepreneur/">iPhone App 
        Entrepreneur</a>. His entire interview may be found in <a href="http://devinsheaven.com/may-interview-for-iphone-app-entrepreneur/"> here </a>. Congratulations to <h2> Devin Ross </h2>
    </p>

    <p>
        <b>Alex, Joe, Peter</b> in Times Union Paper - photographed during Mundie's (Microsoft) Talk
        <img src="/site-media/rcos/images/rcos-mundiestalk-nov-2-2010.jpg" width="600" />
    </p>
    <hr />
    <p>
        <b>Luke Perkins </b>is a senior in Computer Science who did an open source project with RCOS (during Summer 2010)
        to create mimicbot to play starcraft game.  Luke Perkins' bot (named mimicbot)  won the first place in the competition.
        His paper is also accepted in the conference.  Congratulations to Luke for a job well done.
        <br /><br />
        Here are the results of Tournament 3 of the AIIDE 2010 Starcraft AI
        Competition:
        <br /><br />
        <a href="http://eis.ucsc.edu/Tournament3Results">Results</a><br /><br />
        As you can see, it was won by AI bot, Mimic Bot written by Luke Perkins, senior in CS and RCOS particpant:
        <br /><br />
        <a href="http://eis.ucsc.edu/StarCraftParticipants#MimicBot">Mimicbot</a><br /><br />
        Luke has also uploaded the source code of Mimic Bot under GPLv2 here: <a href="http://code.google.com/p/bwsal/"> Code </a>
        On a related note, a 6-page paper Luke has written on the terrain analysis choke point detection algorithm used in the BWTA project ( 
        <a href="http://code.google.com/p/bwta/"> Terrain Analysis </a> ) has been accepted by the AIIDE 2010 conference for publication and a poster presentation: <a href="http://www.aaai.org/Library/AIIDE/aiide10contents.php">Paper Details</a>
        <br /><br />
        Congratulations to <strong> Luke Perkins </strong>
    <p>
        <b>Dr. Luis Ibanez</b> Blog post about his open source teaching experience appeared in this <a href="http://opensource.com/education/10/9/teaching-open-source-practices-version-40"> blog</a>. Congratulations to <strong> Dr. Ibanez </strong>
    </p>
    <hr />
    <p>
        It is great to see  some one is writing <a href="http://mail.gnome.org/archives/gnome-announce-list/2010-August/msg00065.html">seedkit library</a> for <b>seed</b> developed by<b> Rob Carr </b>and <b> Tim Horton</b> 
    </p>
    <hr />
    <p>
        <img src="/site-media/rcos/images/GrayLin-1.jpg" /><br />
        <b>Graylin Kim</b> participating in the NY State Open Government.
    </p>
    Led by <b> Nate Stedman </b> with assistance from <b> Rob Carr </b> have released Ease 0.3 (Presentation software for Gnome Desktop) and it is is in <a href=http://ftp.gnome.org/pub/GNOME/sources/ease/0.3/> located here </a> Congratulations 
    <h3> Nate Stedman , Rob Carr </h3>
    <b> Graylin Kim </b> Is attending <a href="http://capitolcamp.eventbrite.com/"> Capitol Camp </a> (an effort for making making the State politics transparent and make the underlying software open source.)

    <b> John Britton </b> RCOS Alumni gave a talk at the NY Tech group meeting to a group of 850 attendees with a live demo. His talk can be seen <a href= http://www.avc.com/a_vc/2010/08/how-to-pitch-a-product.html>here</a>. His P2PU (Peer to Peer University) his RCOS project seems to have taken off big. It has been written up in various <a href= http://www.hindu.com/2010/07/11/stories/2010071160251400.htm >news papers all over the world. </a>
    .
    <b> Stephen Trombetti and James McMillan</b> RCOS Summer 2010 
    participants will be presenting their HFOSS work on Sahana Eden  in
    Wesleyan University. Please see <a href=http://www.cs.rpi.edu/~moorthy/rcos/workshop-schedule.pdf> for further details</a>.
    <h2>Congratulations to  Steve and Jim </h2>

    <b> Dr.Luis Ibanez </b> who taught Open Source Software Course at RPI 
    (Falls of 2007, 2008 and 2009) presented two talks on his experiences on 
    educating future engineers at OSCON 10 .<a href=http://www.kitware.com/blog/home/post/34> Further Details </a>
    <h2>Congratulations to Luis </h2>



    Down Loads Down loads - Software developed by RCOS students have been down loaded numerous times. Recent noteworthy down loads include Concerto and
    BWAPI software. Congratulations to <b> Luke Perkins</b> and <b> Brian Michalski </b> 

    <a href=http://hfoss.rpi.edu> HFOSS efforts at RPI </a> through RCOS has been set up and it is a member of <a href=http://www.hfoss.org/index.php/chapters> HFOSS chapters </a>


    Glide (a RCOS project of <b> Rob Carr </b>) has ben written in LWN news.
    A blurb fron that <a href= http://lwn.net/Articles/386321/> LWN site</a>
    <pre>
    Good presentations, and good presenters, are not a result of good software. 
    But bad presentation software can make creating a good presentation much 
    more challenging. Rather than complaining about poor presentation-ware, 
    Robert Carr and Amy Wieliczka have been working on Glide: a Clutter/GTK-based 
    presentation application to fill the gap.

    Sponsored by the Rensselaer Center for Open Source Software, Glide is a 
    GNOME presentation program in its earliest stages. Glide is licensed 
    under the GPLv3, is written in Vala and C, and attempts to do away with 
    some of the baggage of standard presentation applications.
    </pre>
    <h3>Congratulations to Rob Carr </h3>

    Ease (a RCOS project of <b> Nate Stedman </b> has been accepted as a 
    GNOME Google Summer of Code project (Summer of 2010), proposed by Stphane Maniaci, 
    a student at Universite Montpellier 2, France. As Ease is still at an 
    early point, instead of improving a specific feature, Stephane
    and Nate  are working together to finish all necessary features for an 
    initial release.
    <h3> Congratulations to Nate </h3>

    <b>Sean Austin, Griffin Milsap and Diana Mazzola </b> are 
    happy to update of the <b>droidViz </b>
    success. Right now, thereare about 1800 downloads and gaining everyday. 
    The application has gotten some nice reviews (some bad ones too!) but the trio
    are
    working on really making it robust and into a live wallpaper for 2.1+ phones.
    <a href=http://www.androlib.com/android.application.com-rcos-droidviz-BFjq.aspx> Link to Details <a/>

    <b> Mukkai S. Krishnamoorthy </b> attended the <a href=http://www.hfoss.org/index.php/workshop-for-faculty> HFOSS Workshop for Faculty </a> held at Trinity College Hartford, CT, May 18-20, 2010. 

    <b> Josh Elser </b>has been inducted Rensselaer Polytechnic Institute Into Phalanx Honor Society. Please see <a href=http://news.rpi.edu/update.do?artcenterkey=2716>  
    Rensselaer Polytechnic Institute Inducts New Members Into Phalanx Honor Society</a> for further details. Congratulations <h3> Josh Elser </h3>


    <b> John McMaster </b> Our local embedded system expert has been writing
    a blog about reverse engineering(RE)the Integrated Circuits(IC). His IC RE 
    <a href=http://uvicrec.blogspot.com> blog</a> can be found at: http://uvicrec.blogspot.com/
    It has actually been one of the most popular blogs online.  Several
    people have contacted him about it and there are a handful of followers
    already on it. Congratulations <h3> John McMaster</h3>

    Today (4/21/2010) there was an elevator pitch competition
    and three of the finalists group (among a total of fifteen) are from
    RCOS. 

    The three RCOS groups are:
    <ul>
    VOTEBOX ballot system    Sara Sass, <b>Joseph Dougherty, Brian Heller,Matthew Heffler </b> (all sophomores)
    Conservation Marketplace         <b>Eric  Allen</b> 10 (senior)
    Interactive Tutoring Tool        <b>Anna Cyganowski</b> 11 (junior)
    </ul>
    Congratulations to all of them. It is great that <b>Eric Allen</b> won the second place award. One of the judges singled out <b>Eric</b> for his brilliant presentation.
    Congratulations <h3>Eric Allen</h3>

    Congratulations to <b> Allen Lavoie </b> and past RCOS participant 
    <b> David Pizzuto </b> for getting Google Summer Internship for two years in a row.
    Congratulations <h3> Allen Lavoie, David Pizzuto </h3>


    Congratulations to <b>Devin Ross (RCOS's IPhone expert)</b> for having his
    open source library mentioned in a book to be published in May.(Please
    see the attached sheet) It is also great to have such positive reviews
    of his open source library. The page is <a href=Devins-Library-Mentioned-Book.png> here.</a>

    Congratulations  <h3>Devin Ross!</h3>




    Five current RCOS students will be presenting in <a href=http://ugrs.rpi.edu>RPI's first Undergraduate Symposium</a> They are
    <ol>
    <b> Eric Allen</b>
    <b>Ben Boeckel, Rob Escriva and Joe Werther</b>
    <b>Allen lavoie</b>
    <b> John McMaster</b>
    <b> Devin Ross.</b>
    </ol>
    The presentations/posters are on April 27th from 2:00 pm to 6:00 pm in 
    DCC (Posters) and CII (Presentations). Congratulations and Good Luck to these 
    students. Besides these five, past RCOS student <b>Alex Radocea </b> and 
    RPISEC club member <b>Andrew Zonenberg</b> will also be presenting on the 
    research symposium. These seven students are among a select group of undergraduate student (RPI) presenters on the symposium.</li>

    Rocs really Rocks!. <a href=http://groups.google.com/group/rcos-spring09/web/rocs> ROCS (Rensselaer Open Source Course Scheduler)</a> (long live anagrams!)
    Done jointly with UPE and RCOS is finally out - Thanks to extreme co-operation of Registrar and dotCIO. It has been used
    from Spring 2010 for course scheduling during registration time. From what I hear from registrar's office is nothing but praise.
    Great job by the team headed by <b> Evan Patton </b>(started as Spring 09 RCOS project). This is a really crowning achievement for RCOS as it is a community and
    co-operative effort by many units and all came through.  

    Thanks to our local IPhone Wiz <b> Devin Ross </b>Digg for iPhone is finally out on the App Store (3/26/2010). Its already climbed to #19 on the global top downloaded 
    apps chart after day 1. IPhone Wiz <b>Devin Ross</b> will probably go #1 overall sometime soon. 
    The app is getting great reviews (which doesn't happen often; see <img src="/site-media/rcos/images/rating.png">screenshot).


    Security Competition at RIT  (3/20/2010)<br>
    Ten teams of students were tasked with managing a network and maintaining
    service levels.  An eleventh team consisting of industry professionals and RIT
    adjuncts was tasked with attacking

    <br><b>Team Knurds 1:</b>
    <ul>
    <b>Alex Radocea (RCOS participant in Fall 09, Spring 09)</b>
    <b>Ben Boeckel (RCOS participant Fall 09,  Spring 10)</b>
    <b>Joe Werther, (RCOS participant Fall 09,  Spring 10)</b>
    <b>Robert Escriva (RCOS participant Spring 09, Summer '09, Fall 09,  Spring 10, Mentor)</b>
    </ul>
    <b>Team Knurds 2:</b>
    <ul>
    Adam Comella
    Andrew Zonenberg
    Jay Smith
    <b>Ryan Govostes  (RCOS participant Spring '09, Fall '09)</b>
    Shawn Denbow
    </ul>
    <h2>Knurds 1 took first, with Knurds 2 coming in second.</h2>  An RIT team took 3rd.
    More information will be published on our blogs and on <a href=http://ists.sparsa.org/index.php>Sparsa's website</a>.

    Congratulations to all.


    <b>Allen Lavoie </b> did a poster presentation on his <a href="http://code.google.com/p/paper-detection/">Automatic Paper Classification </a>in Computer Science Department on 3/19/2010. Allen's preliminary results are turning a few heads.  Allen did a <a href="http://paperdetection.blogspot.com/2010/03/computer-science-poster-session.html">blog post here</a> where you can see his poster.</li>


    <b>Joe, Matt and Brian's</b> <a href="http://votebox.us/">votebox </a> has reached the finals of the <a href="http://www.eship.rpi.edu/finalists.html">RPI elevator Pitch competition</a>. I am very glad to see <b>Anna</b> has also reached the finals of the <a href="http://www.eship.rpi.edu/finalists.html">competition</a> for her <a href="http://code.google.com/p/materialab/">Interactive Tutorial work</a>  .<b> Eric Allen </b> has reached the finals for his project
    on <b>Conservation Marktplace </b> Three out of fifteen finalists is quite good as rcos students represent much less than 20 percentage of undergraduate students at RPI/ </li>


    <img src="/site-media/rcos/images/FrontCenter.jpg" width=600 height=330><br><br>
    Devin Ross was tipped yesterday (3/15/2010) by Apple that they are going to feature Attic 
    (His music IPhone app) in the Itunes store. Lo and behold, you can see from the image above that Apple did indeed feature Devin's app in the front center of 
    the store (3/16/2010) <h3>Hats off to IPhone Guru Devin.</h3>

    <b>Mukkai Krishnamoorthy </b> was an invited discussant on the HFOSS panel discussion
    during the ACM SIGCSE conference, Milwaukee on March 10, 2010 .

    <img src="/site-media/rcos/images/attic-1.jpg"><br><br>
    <a href="http://atticapp.com/">Attic</a>
    Devin ross's IPhone app is number 5  on top music apps on iTunes ahead of popular 
    apps like Ocarina and GuitarToolkit. Please take a look at the screen shot 
    of the rankings taken on 
    <img src="/site-media/rcos/images/top-charts.png" />  Rankings (3/6/2010). <br>It is worthwhile mentioning that Devin makes use of his
    Library extensively.
    <h2> Hats to our IPhone Guru Devin </h2>

    The Android project created by Diana Mazzola, Sean Austin, <a href=http://studidroid.blogspot.com/>  studidroid </a>, 
    has approximately 2,000 downloads on the Android Market. The open source code can be found  <a href=http://code.google.com/p/studidroid/downloads/list> here </a>. Also, Sean was just chosen as one of a group of top android developers who are to be part of the Device 
    Seeding Program which rewards the top developers with the newest Android devices. 
    They are distributing either a Droid or Nexus One for free to Sean because of his for-profit app, BatteryTime Lite. 
    The free version has roughly 100,000 downloads while the paid one roughly 1,200.

    <h2>Congratulations to  Sean and Diana </h2>..


    <b> Seed </b> Developed by <b> Rob Carr, Matt Arsenault and Tim Horton</b> has been taken
    on by other developers most notably Alan Knowles. In their Git log, one
    can see alan (Alan Knowles) committing a bunch: <a href=http://git.gnome.org/browse/seed/log/> Developers, Bug Fixers</a>  Robb and Matt and Tim, a bunch of random GNOME people)

    Mailing list for Seed <a href=http://mail.gnome.org/archives/libseed-list/2010-February/thread.html> Feb Mailing List Archive </a>

    Also, lots of bugs filed by other people (and mostly fixed by Rob, Tim and Matt):<a href=https://bugzilla.gnome.org/buglist.cgi?query_format=advanced&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=NEEDINFO&bug_status=RESOLVED&bug_status=VERIFIED&component=libseed&product=seed> Bug Fixes by Rob, Tim and Matt </a> <h2>Great Job by Rob, Tim and Matt </h2>

    <b>Yongqian Li</b> , a Fall 2008 project participant of RCOS, created a Firefox 
    extension called
    <a href=https://addons.mozilla.org/en-US/firefox/addon/9825>FastestFox</a> (https://addons.mozilla.org/en-US/firefox/addon/9825). It
    is quite popular, with several million users. It has also been covered
    in the media, with reviews on CNet, Lifehacker, and other, smaller,
    blogs. It is also profitable, mostly from ads, to Li (who is in the Bay area
    on leave from RPI)
    Press coverage:
    <ol>
    <a href=http://download.cnet.com/download-blog/?keyword=SmarterFox> cnet </a>

    <a href=http://lifehacker.com/5448302/fastestfox-speeds-up-common-searching-tasks-for-chrome> Life Hacker</a>
    </ol>
    Congratulation to Li (whose 2008 Fall project was about <a href=http://wikiminer.blogspot.com/>mining wikipedia</a>) </li>


    <b>Eric Allen </b>attended RubyConf and JRubyConf in November, 2009. His <a href=http://getontracks.org/> tracks </a>software have been downloaded hundreds if not more. Eric's <a href=http://dashboard.rcos.cs.rpi.edu/>dashboard</a> will keep us all honest and motivate us to work hard(er).
    </li>

    <b>Rob Escriva and Ben Boeckel </b> attended  FUDCon (Fedrora Users and Developers Conference) in Toronoto, Canada, in Decmber, 2009. They also
    presented their ppaper on <a href=http://projects.robescriva.com/projects/show/p2p-mirror>CHASM (Cryptographic Hash Algorithm Secured Mirroring solution)</a> their mirroring software.
    </li>

    RPISEC (with the members inluding <b> Alex Radocea</b> and <b> Ryan Govostes</b>) scored 18th out of 56 teams (world wide). For details please see 
    <a href=http://cs.ucsb.edu/~vigna/ictf/> International Capture the Flag</a> Competition.
    </li>

    RPISEC, an undergraduate Security Club at RPI (mainly CS, ECSYS students) participated inthe annual
    NYU-Poly (worldwide security contest). Many are also members of RCOS (Rensselaer Open Source Software Center).

    Congratulations to RPISEC for a job very well done.


    In quiz part of the tournament, they came in first and second
    <a href="http://www.poly.edu/csaw-quiz">csaw</a>
    <h2>And the Winners are:</h2>
    <table border="1">
    <tr><td> Place </td> <td> Team </td> <td> University/Institute</td></tr>
    <tr><td>First</td><td> <b>Robert Escriva</b> and Jay Smith,</td><td> Rensselear Polytechnic Institute </td></tr>
    <tr><td>Second</td> <td>Adam Camella and Andrew Zonenberg,</td> <td>Rensselear Polytechnic Institute</td></tr>
    </table> 
    <br><br>
    In Capture the Flag part of the competition, they came in second
    <a href=http://www.poly.edu/csaw-CTF> CTF</a>
    And the Winners Are
    <table border="1"> 
    <tr>
    <td> Position/Rank</td>
    <td>Team</td>
    <td>School</td>
    <td>Team Members</td> </tr>
    <tr>
    <td>1st Place </td>
    <td>ppop</td>
    <td>Carnegie Mellon University</td>
    <td> Brian Pak, Andrew Wesie, David Kohlbrenner, Tyler Nighswander</td></tr>
    <tr><td>2nd Place </td><td>RPISEC</td>  <td>      Rensselaer Polytechnic Institute </td><td> <b>Alexandru Radocea</b>, <b>Ryan Govostes</b>, Adam Comella, Andrew Zonenberg </td></tr>
    </table>
    </li> 
    
    <ul>
        <li><b> Matt Arsenault</b> and <b>Tim Horton</b> attended 
        <a href=http://live.gnome.org/Boston2009>GNOME</a> Boston Developer Summit 
        in October. <b>Matt</b>, <b>Tim</b> and <b>Rob Carr</b>  are involved in GNOME Development activities for past many years and will continue to be involved in future</li>
        <li><b> Joseph Dougherty </b> and <b> Matthew Heffler </b> work on 
        <a href= "http://votebox.us/"> Votebox </a> made it to <a href="http://www.reddit.com/r/programming/comments/9wbng/ask_proggit_expanding_discussion_from_that_voting/"> made it reddit </a> Kudos to Joe and Maat.
        </li>
        <li>It is noteworthy that <b>Alex Radocea</b> (a rising junior) won a commendable fourth position (tied) in a worldwide  security contest by Google. (see

            <a href="http://googlecode.blogspot.com/2009/07/native-client-security-contest-results.html"> Google news release</a>).  

            Alex worked on a security project with RCOS in Spring of 2009. 
        </li>
        <li><a href="http://live.gnome.org/Seed">Seed (RCOS project in Fall of 2009 by <b>Rob Carr, Tim Horton, Mathew Arsenault and Nate Stedman</b>)</a>  is getting noteworthy mention in the <a href="http://arstechnica.com/open-source/news/2009/01/javascript-gtk-bindings.ars">press </a>and it is being shipped with next Gnome release.</li>
        <li><a href="http://blogger.rpi.edu/approach/2009/06/29/irpi-where-the-heck-am-i/"> iRPI </a> developed by <b>Devin Ross</b> and <a href="http://tapku.com/album_shuffle.html"> Album Shuffle </a> by <b>Devin Ross</b> As of end of August 2009, iRPI had 449 downloads and Album Shuffle had 2722 downloads.</li>
        <li><a href="http://news.rpi.edu/update.do?artcenterkey=2531"> Vault</a> Developed by <b>Devin Ross and Amit Kumar</b> As of end of August 2009, Vault had 14,702 downloads.</li>
        <li><a href="http://www.sixteen-nine.net/index.php?option=com_content&view=article&id=701:open-source-ds-software-starting-to-bubble-up&catid=1:latest-news&Itemid=50"> Decription and write up of digital signage systems </a> including <a href="http://www.concerto-signage.com/view/why-concerto">Concerto </a> Developed By <b>Brian Zaik, August Fietkau, and Web Tech Group </b></a></li>
        <li><a href="http://housing.union.rpi.edu"> Off Campus housing </a> for RPI students - can easily be adapted to other universities - developed by <b>Joe Chrzanowski.</b></li>
        <li><a href="http://map.rpi.edu"> Semantic RPI map </a> developed by <b> Jin Guang Zheng </b>working with <a href="http://tw.rpi.edu">tetherless constellation group</a> at RPI.</li>
        <li><a href="http://rpiplanner.svallens.com/"> RPI Planner </a> Developed by by a group headed by <b>Eric Allen</b></li>
        <li><a href="http://mirror.rcos.cs.rpi.edu"> Mirror website (of various linux flavors) for RPI students/faculty/staff </a> mainitained by <b>Rob Escriva. </b></li>
        <li>A number of students (past participants of RCOS) participated in google summer of code.</li>
    </ul>

    <h2>Papers published by RCOS supported students</h2>
    <ul>
        <li>
            <b>Amit Kumar, Josh Elser</b> (on their OLPC XO Geography game)
            and <b>John Britton </b>(on Peer to Peer University) participated
            on Education without Borders 2009 conference..
        </li>
        <li>
            <b>John Britton</b> was invited speaker at Education without
            Borders 2008 conference.
        </li>
        <li>
            G. Nagy, <b>B. Clifford,</b> A. Berg, G. Saunders, E. Barney Smith,
            D. Lopresti,
            Document photography in vitro,
            Third International Workshop on Camera-Based Document Analysis
            CDBAR 2009, Barcelona, July 25, 2009.
        </li>

        <li>
            G.Nagy, <b>B.Clifford,</b> A.Berg, G.Saunders, D.Lopresti, Elisa
            Barney Smith ,
            Camera-based Ballot Counter ,
            International Conference on Document
            Imaging and Recognition (ICDARW2009), 
            Barcelona, July 26-29, 2009.
        </li>
        <li>
            R. Padmanabhan, R. C. Jandhyala, M. Krishnamoorthy, G. Nagy,
            S. Seth,<b> W. Silversmith</b>,
            How many different kinds of tables are there?
            Eighth IAPR International Workshop on Graphics
            Recognition (GREC 2009),
            La Rochelle, July 22-23, 2009. Also appear in GREC 2009,
            LNCS 6020 proceedings, 2010.
        </li>
        <li>
            R. C. Jandhyala, R. Padmanabhan, M. Krishnamoorthy,
            G. Nagy, S. Seth, <b>W. Silversmith</b>,
            From tessellations to table interpretation, 
            8th International Conference on Mathematical Knowledge Management,
            MKM 2009 Grand Bend, Ontario, 10-12 July 2009.
        </li>
        <li>
            George Nagy, Raghav Padmanabhan, Ramana C. Jandhyala,
            <b>William Silversmith</b>, and Mukkai S. Krishnamoorthy.
            Table Metadata: Headers, Augmentations and Aggregates DAS 10,
            Short Paper, Cambridge, MA 2010.
        </li>
        <li>
            <b>Eric Allen</b>, Comparison of Object-oriented and Functional
            Programming for Code Generation,
            <a href="http://www.cs.rpi.edu/research/tr.html">
                Technical Report No. 10-04,
            </a> Computer Science Department, Rensselaer Polytechnic Institute,
            Troy, NY 12180.
        </li>
        <li>
            <b>Allen Lavoie</b> and M. Krishnamoorthy, Algorithmic Detection of
            Computer Generated Text,
            <a href="http://www.cs.rpi.edu/research/tr.html">
                Technical Report No. 10-07,
            </a> Computer Science Department, Rensselaer Polytechnic
            Institute, Troy, NY 12180.
        </li>
        <li>
            <b>Luke Perkins</b> has written a paper on the terrain analysis
            choke point detection algorithm used in the BWTA project
            (<a href="http://code.google.com/p/bwta/">Terrain Analysis</a>) has
            been accepted by the AIIDE 2010 conference for publication and a
            poster presentation:
            <a href="http://www.aaai.org/Library/AIIDE/aiide10contents.php">
                Paper Details
            </a>
            Congratulations to <strong>Luke Perkins</strong>
        </li>
 <li>
            <b>Brian Michalski</b> has written a paper on <a href="http://www.mymapper.org">Community Mapping</a>
            (<a href="http://projects.brispace.net/comm-map/">FlagShip Geo</a>) has
            been accepted by the SIGCSE/HFOSS, Dallas 2011 and a
            poster presentation:
            
       
            Congratulations to <strong>Brian Michalski</strong>
        </li>
<li>
            <b>Graylin Kim</b> has written a paper on Open Legislation
            (<a href="http://open.nysenate.gov/legislation/">Open Legislation</a>) has
            been accepted by the SIGCSE/HFOSS, Dallas 2011 and a
            poster presentation:
            
       
            Congratulations to <strong>Graylin Kim</strong>
        </li>
    </ul>
{% endblock %}
