{% extends "rcos/base.html" %}

{% block rcoscontent %}
    <h2>
        Sean O'Sullivan, Alumnus and Entrepreneur,
        Donates $2 Million To Rensselaer To Create Center for Open Software
    </h2>

<h3>
"This is all made possible by  a distinguished alumnus <b>Sean O' Sullivan Class of 1985</b>   Founded in 2007, RCOS allows Rensselaer students to be involved in the development of open source software at a depth and scale that is nearly unique in the nation. Over the past three years the Center has supported student projects that have improved the Rensselaer community, garnered national media attention, and resulted in millions of downloads.

The official article announcing the program is below:"
</h3>
    <p>
        (RPI News Release) - Rensselaer Polytechnic Institute today announced a
        gift of $2 million from Sean O'Sullivan, Class of 1985. The gift
        provides seed funding for the creation of the Rensselaer Center for
        Open Software, an initiative that will support the development of open software solutions to promote civil societies in the United States and across the globe.
        O'Sullivan was a founder and the first president of MapInfo, a global
        software company headquartered in Troy, N.Y. He also has started other
        companies and organizations, including JumpStart International, an
        engineering humanitarian organization headquartered in Atlanta, Ga.
    </p>
    <p>
        "We have a duty to our fellow man to improve life on this planet.
        While technology has always been a huge enabler in improving quality of
        life, we now are at a point where, through open software and open
        content, these improvements can come at close to zero cost, opening up
        opportunities to all," said O'Sullivan. "Particularly in Third World
        situations, but also in government and consumer applications, open
        source solutions can cut through economic, political, and social
        divides, and enable people to simply get the job done. This center at
        Rensselaer may very well become a model for accomplishing this. With
        the global perspective and global reputation of Rensselaer research, I
        hope this hands-on development center will both engage students and
        engage the world."
    </p>
    <p>
        "With this gift to Rensselaer, Sean O'Sullivan is once agai
        demonstrating his visionary understanding of the power of individuals
        to work collectively to create transformational technologies to address
        pressing global challenges," Rensselaer Polytechnic Institute President
        Shirley Ann Jackson said. "The Center for Open Software will offer an
        entrepreneurial, creative, collaborative environment for Rensselaer
        students committed to investing their energy, time, and talent in
        creating enabling open source software and content to benefit society.
    </p>
    <p>
        In an open source environment, the source code for a particular
        software can be readily accessed, modified, and distributed by a
        programmer. The environment promotes adaptability to different
        applications, augmentation of what the original software was designed
        to accomplish, and the ability to correct problems present in a given
        version.
    <p>
    <p>
        O'Sullivan funded the Rensselaer Center for Open Software to enable student developers to do work related to their academic pursuits during the summer months. Through the new program, up to 100 Rensselaer students annually will be given stipends to develop software and content.
    </p>
    <p>
        Systems developed at the center will have a broad range of applications, which may include: groupware systems for coordinating response to natural and man-made disasters; Web-based project management and monitoring systems to improve transparency and the accountability of donated funds; enabling and monitoring balloting systems to ensure fair elections; and neighborhood-based security systems to improve public safety and reduce crime.
    </p>
    <p>
        According to Prabhat Hajela, vice provost and dean of undergraduate education at Rensselaer, the center will call upon such organizations as Engineers Without Borders, ASHOKA: Innovators for the Public, and Engineers for a Sustainable World to provide a series of seminars on best practices and applications software most critical for general purpose civil society use.
    </p>
    <p>
        The center also will seek large-scale involvement from collaborating companies and organizations in the global community, further opening new horizons for Rensselaer students.
    </p>
    <p>
        Hajela added, "Students working at the center will be able to draw upon the expertise of our faculty from the various schools as they address challenging multidisciplinary problems in this application domain. The benefits from such synergistic partnerships, as well as the ability to develop integrated open-source solutions in the context of new technological advances will be a distinguishing feature of Rensselaer's Center for Open Software."
    </p>
    <p>
        O'Sullivan's gift is in support of the Institute's $1.4 billion Renaissance at Rensselaer: The Campaign for Rensselaer Polytechnic Institute. It is the second major gift O'Sullivan has made to Rensselaer. In 2005 he donated $1 million to create the "Change the World Challenge," an initiative to support entrepreneurship education and to stimulate ideas to improve the human condition. The program provides a $1,000 cash award for up to 10 students each semester for ideas that will make the world a better place. 
    </p>
    <p>
        <h2>About the Campaign</h2>
        <strong>Renaissance at Rensselaer:</strong> The Campaign for Rensselaer Polytechnic Institute, launched in 2004, fuels the Institute's strategic Rensselaer Plan, and supports groundbreaking interdisciplinary programs which have at their core the technologies driving innovations in the 21st century: biotechnology, nanotechnology, information technology, and experimental media. The campaign aims to build the Institute's unrestricted endowment, and also seeks funds for endowed scholarships and fellowships, faculty positions, curriculum support, student life programs, and athletic programs and facilities. To date, the effort has raised more than $1.2 billion.
    </p>
{% endblock %}
