{% extends "rcos/base.html" %}

{% block rcoscontent %}

<h1> UPE OSS Festival </h1>

<a href=http://rpi-upe.github.com/> UPE Open Sourse Software Festival on Wednesday Oct 24, 2012 in DCC Great Hall</a>
Please participate with posters/presentations.

<h1> RCOS Fall 2012 Hackathon</h1>

RCOS will be having a hackathon Saturday (9/22/2012) from 9:00 am till 2:00 am on Sunday in Amos Eaton 217. Please attend 
and have a great start with your RCOS and other open source project. Asher Glick is the lead organizer for this.<br>
Photos from Hackathon are <a href=https://www.facebook.com/media/set/?set=a.447073848668852.97468.194611683915071&type=1> here</a>
<br><a href=https://docs.google.com/document/d/1mW1CPlBpixwS01NoKpIxM1PyMlagoOvXb81YVN4ZJBY/edit> How to Run a Hackathon</a>
<h1> Hackathon with Openhatch</h1>

Open source hackathon with <a href= http://openhatch.org/>http://openhatch.org</a> on April 21st and 22nd (2012) in Sage 4101 and Sage 5101.
Please come and learn. For more information please see <a href=https://openhatch.org/wiki/Open_Source_Comes_to_Campus/RPI> here </a>
and rsvp <a href=https://docs.google.com/spreadsheet/viewform?formkey=dEVuckFkNmR1dlZLV0xwS0xoWV9Ec1E6MQ> here </a>

<h1> Spring 2013 Calendar </h1>
<b> January 28th, 2013 is the deadline </b>
<br>
<a href=https://docs.google.com/document/d/1OSIXGpfvU2XIDZlYTA5nA9cYbegV7zKUuMu9qLRFgDc/edit> Proposal Guideline</a> <br>
<a href=https://docs.google.com/document/d/15oEt6mC4IbkNFeJ8vIkyysSurbDwZfENMNLniPr4Ww8/edit> Spring 2013 Calendar</a><br>

<h1> Fall 2012 Calendar </h1>
<a href=https://docs.google.com/document/d/11Dp5VkXGHFLreFVgjVEehjXpjKvU7YkXqITcx8SIXM4/edit> Proposal Guideline</a>
<a href=https://docs.google.com/document/d/1ZkuyzOlLosBIov5U0aIR2sNJMWRv9ivKIJHs-3QX__0/edit> Fall 2012 Calendar</a>
<h1> Summer 2012 Calendar </h1>

<a href=https://docs.google.com/document/d/10j7VyzHyrQHCY_aNmnBLbKwhguKrjQ-MmdBuDIo9fJ4/edit> Proposal Guidelines </a>
<p> <a href=https://docs.google.com/document/d/1x_EsZHS5UkeF5vIEufc4mcthwsDsFhto1RMFXgLmyac/edit> Summer 2012 Calendar </a>

<h1> Spring 2012 Calendar </h1>

<a href=http://tinyurl.com/7aw4ld9> Spring 2012 Calendar </a>
<p> <a href=http://preview.tinyurl.com/7bdpxx8> Proposal Guidelines </a>

<h1> Fall 2011 Calendar </h1>

<a href=https://docs.google.com/document/d/1JW4u3nRhVMMzibl9A-449EcMlUQ1g14s59WH6GIRqCw/edit?hl=en_US> Fall 2011 Calendar </a>
 
 <h1> Dash Board /Observatory Questions </h1>
 
 Please send an email to "Ben Shippee" shippb@rpi.edu and moorthy@cs.rpi.edu <br>
 
<h1> Video Archive </h1>

Videos of talks are available <a href=http://www.youtube.com/rcosrpi1>here</a>
 
<h1> Poster Details </h1>
Trifold papers dimension 46" by 35" - dimensions of three parts are (end portions) 11.5" by 35.5 and the middle portion is 23" by 35.5"

As someone (Nate Stedman) who as used the plotters to print posters and other large things a lot before:
<ul>
<li>Whoever wrote the plotter printing software decided it would be a good idea to put the job info (like the cover sheet you get with any other RCS print job) right on the printout, covering up your stuff. Nice of them, I know. So, be sure to leave an extra inch or two on the top to avoid this (you can cut it with an xacto knife or scissors).</li>
<li>vcpltg looks a lot nicer than vcplt (shiny!). vcpltcf is clear film. Don't use it unless you actually want a see-through poster.</li>
<li>Be careful with prints from vcpltg when you first take them out of their tube. The ink can easily smudge, so let it sit for a little while.</li>
<li>In the fall (2010) we had a lot of problems with the posters flopping around. The bookstore sells "science fair" boards and similar sturdy things for very cheap, attaching it to one of those.</li>
<li>I'm sure it's everyone's preferred method, but some people (Tim Horton mainly) have had problems printing from RCS Unix machines to the plotters. Other haven't had problems, I'm sure. It might be worth a trip to the VCC to print from Acrobat on Windows, which supports the plotters very well (you can easily define a custom page size to avoid the job info being on top of your stuff). </li>
<li>The plotters claim 36 inches wide but it's really 34. </li>
<li>Use images that actually have a reasonable number pixels (or, ideally, vector), 100px images are not meant to be a foot wide and people will notice.
The plotter takes a few hours at minimum - you can't just print it that morning.</li>
</ul>
 
Here is one if you use Microsoft publisher (VCC has this software)

How to Print a Poster with VCC Computer and Plotter
<ol>
<li> Make a poster using MS Publisher. Save it as *.pub file.

<li>Load the *.pub file on one of VCC Windows machines.

<li>“File” à “Print”

<li> For printer, choose a VCC plotter from the list: http://helpdesk.rpi.edu/
update.do?artcenterkey=302#plotter

<li>vcplt: Color, continuous paper 36” wide, up to 72” long, 600dpi
vcpltg: Color, continuous glossy paper 36” wide, up to 72” long, 600dpi
vcpltcf: Color, continuous clear film 36” wide, up to 72” long, 300dpi
(Cost depends on the plotter and options)
Some machines possibly are not installed the plotter. Then, choose another
machine.

<li>For paper, select ARCH E paper 36” x 48” (instead of the usual 8.5” x 11”
paper).

<li>If need, rotate the poster orientation Landscape (48” x 36”) to Portrait (36” x
48”).

<li> “Print Preview” to make sure everything (print range, orientation, etc). If
the poster is divided in the preview, you may be selecting wrong paper/
orientation.

<li> Close the preview and “Print”.

<li> Wait for printing and pick up the poster at the north hallway (wooden bins at
right side of VCC). It possibly takes a time depending on the queue.

Check the print queue at VCC Helpdesk or at: http://helpdesk.rpi.edu/
update.do?artcenterkey=361

</ol>

{% endblock %}
