{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h2>To Join RCOS:</h2>
<p>Please submit a <a href="http://www.cs.rpi.edu/~moorthy/rcos/URP_Application.pdf">URP proposal form</a> to <a href="http://www.cs.rpi.edu/~moorthy/">Prof. Moorthy</a> two weeks prior to the start of the semester.  Your proposal will be reviewed and a decision will be made by the first week of the semester.</p>
<p>You can apply for funding or credit.</p>
<img style="margin: auto;" src="/site-media/rcos/images/december-graduates_cropped.jpg"></img>
{% endblock %}
