{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h1>How to Join RCOS</h1>
The process to join RCOS has two main components, an RCOS proposal, and a URP proposal.
<h2>RCOS Proposal</h2>
The proposal process is very important. A well written proposal lays the ground work for a successful RCOS project. The proposal should include an overview of the project, your semester-long goals, and a "task list" of very detailed items that you will accomplish in the first few weeks of the semester. Similar task lists should be created throughout the semester. Your RCOS proposal must be submitted at least a week earlier than the deadline ).
Please see this <a href=https://docs.google.com/document/d/1uW-Edyl5TNwHniYm86AgY6JuBWUvvOZ3rIopb2bG9UM/edit?hl=en_US> Details </a>
<br />
We will review your proposal within a week, and ask for revisions if necessary. This will allow you one week to re-submit the proposal along with the URP proposal (see below).
<h2>URP Proposal</h2>
Once RCOS has approved your project, you will need to write a condensed form of the proposal to submit to RPI. Please submit a <a href="/urp-application/">URP proposal form</a> to <a href="http://www.cs.rpi.edu/~moorthy/">Professor Moorthy</a> by XYZ (the official URP deadline).

<h2> Deadline </h2>
<p>
To apply for Fall 2011 URP, please apply before September 9, 2011 
</p>

<h2>Compensation Decision</h2>
Compensation for your work on an RCOS project comes in one of two forms: a stipend or course credit.
<h3>Stipend</h3>
The Fall/Spring semester stipend is $1200. The Summer term stipend is $3500. 

<h3>Course Credit</h3>
Typically you can apply for 3 or 4 credits for an RCOS URP. The expected amount of work is N + 3*N where N = the number of credits applied for.

<img style="margin: auto;" src="/site-media/rcos/images/december-graduates_cropped.jpg"></img>
{% endblock %}
