{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h2> Useful Links </h2>

Here are some useful links.
<ul>
<li> <a href="https://github.com/rcos/Observatory/wiki/Guide-for-noob"> Guide for noob</a></li>
<li> <a href="http://www.youtube.com/rcosrpi1"> Youtube Archive of Presentations </a></li>

<li><a href=https://docs.google.com/document/d/1mW1CPlBpixwS01NoKpIxM1PyMlagoOvXb81YVN4ZJBY/edit> How to Run a Hackathon</a>
 
</li>

<li> <a href="http://www.nycresistor.com/"> NYC Resistor </a></li>

<li> <a href="http://gitimmersion.com/"> Git Immersion (Git Tutorial) iPeter likes it. </a> </li>

<li> <a href="http://progit.org/book"> Git Book Recommended by Graylin </a> </li>
 
<li><a href="http://stackoverflow.com">StackOverflow is a fantastic resource - there are some amazingly talented people on the forum</a> - Thanks to Dave D and Joe D for the link.</li>

<li><a href="http://www.daniweb.com/">Dani Web mostly the c++ subforum, but they have just about every language you could want :) </a> Thanks to Dave D for the link</li>

<li><a href="http://programmingexamples.net">Programming Examples</a>Also, when Dev D sees a question asked over and over, Dave D makes an example of of it and put it here - Thanks to Dave D:</li>


<li><a href="http://shakthimaan.com/downloads/glv/presentations/gnubie.html">Newbie guide</a></li>

<li><a href="https://openhatch.org/">Openhatch</a></li>

<li><a href="http://hackermonthly.com">Hacker-Monthly Magazine</a></li>

<li><a href="https://openhatch.org/blog/how-can-openhatch-help-me-contribute-to-free-software/">Openhatch Volunteer help</a></li>


<li><a href="http://hfoss.org">Humanitarian and Free and Open Source software</a></li>

<li><a href="http://en.wikibooks.org/wiki/Computer_science">Computer Science Books</a> and <a href= http://en.wikibooks.org/wiki/Programming> Programming Books</a> that need work - Open SOurce volunteers are welcome to contribute.</li>
 
<li><a href="http://teachingopensource.org/textbook">Open Source Text Book</a></li>

<li><a href="http://www.sutor.com/c/reading/reading-open-source/">Bob Sutor's (IBM) Open Source Reading Lists</a></li>
 
<li><a href="http://www.sutor.com/c/essays/osvsos/">Bob Sutor's (IBM) Open Source Vs Open Standards</a></li>
 
<li><a href="http://www.booki.cc/list-books">Books available from another source (Open)</a></li>
<li><a href="http://teachingopensource.org/index.php/How_to_start_contributing_to_or_using_Open_Source_Software">Another effort in creating open source text book</a></li>
<li><a href="http://www.cs.rpi.edu/~moorthy/rcos/SoftwarePractices.pdf">Best Practices to Succeed in a Software Project and Pitfalls of Failure by Rob Margolies and Chris Brown</a></li>
<li><a href="http://samizdat.mines.edu/howto/HowToBeAProgrammer.html">How to be a better programmer Short, Comprehensive, and Personal Summary</a> Very informative piece</li>

<li> <a href="http://en.wikipedia.org/wiki/MobileNotifier"> Mobile Notifier Started by Peter Hajas </a>

</ul>
<hr />

<h2> Contacts </h2>
<ul>
<li> Prof. and Dean Prabhat Hajela, Provost, (Former Dean of Undergraduate Education), hajela@rpi.edu 2007-current</li>
<li> Prof. Jim Hendler, Tetherless World Constellation Chair of Computer and Cognitive Science 
Head,  Department of Computer Science, hendler@cs.rpi.edu Fall 2012-current</li>
<li> Dr. David Goldschmidt, Executive Office, Department of Computer Science, goldschmidt@gmail.com Fall 2012-current</li>
<li> Prof.Mukkai Krishnamoorthy, Co-Director (2007- 2013 ), Rensselaer Center for Open Source Software (RCOS), moorthy@cs.rpi.edu 2007-current </li>
<li> Prof. Badri Roysam, Co-Director (2007-2010), Rensselaer Center for Open Source Software (RCOS), roysam@ecse.rpi.edu</li>
</ul>
{% endblock %}
