{% extends "rcos/base.html" %}

{% block rcoscontent %}
    <h2>Mission Statement</h2>
    <p>
        To provide a creative, intellectual and entrepreneurial outlet for
        students to use the latest open-source software platforms to develop
        applications that solve societal problems.
    </p>

    <h2>Description</h2>
    <p>
        RCOS is a group of RPI students who work on open source projects. Our
        members work on a variety of projects, as can be seen here [Link to
        student project summaries]. We keep up with the status of the projects
        using a <a href=http://dashboard.rcos.cs.rpi.edu>dashboard (the dashboard itself was actually one of the projects!)</a>
    </p>
    
    <h2>Benefits of being an RCOS member</h2>
    <ul>
        <li>The opportunity to help society by creating useful software.</li>
        <li>An excellent environment to share your skills with your peers and
            learn from them as well</li>
        <li>Great practice in the code review process, a very important skill
            for your software career!</li>
        <li>Practice giving and receiving feedback. Learning how to discuss
            technical and non-technical aspects of a project in a constructive
            fashion is a critical skill that employers look for!</li>
    </ul>
    
    <h2>Details</h2>
    <p>
        Students can participate in RCOS for course credit or for a stipend.
        At the beginning of each semester, the Internal Advisory Board will
        review project proposals and decide which projects should receive
        financial support.
    </p>
{% endblock %}