{% extends "rcos/base.html" %}

{% block rcoscontent %}
<h1>UPE/RCOS Programming Competition</h1>
<p>
<a href="http://upe.acm.cs.rpi.edu">UPE</a> and <a href="http://rcos.rpi.edu">RCOS</a> conduct <a href="http://upe.acm.cs.rpi.edu/progcomp/">programming competitions</a> in Fall and Spring Semesters.
</p>

<h2>Competition: Spring 2010</h2>
<p>
It was on Saturday March 27th in Sage 4101. This competition is jointly done by UPE and RCOS. Prizes are donated by Bloomberg, Lockheed Martin and Vanguard.
</p>
<p>
<img src="/site-media/rcos/images/Competition1.JPG" /><br/>
<img src="/site-media/rcos/images/Competition4.JPG" /><br/>
<img src="/site-media/rcos/images/Competition5.JPG" />
</p>

<h2>Competition: Spring 2009</h2>
<p>
<img src="/site-media/rcos/images/competition-spring09.jpg" />
</p>

<h2>Competition: Fall 2009</h2>
<p>
It was on November 7th Saturday from 1:00-5:00 PM. Please take a look at <a href="http://progcomp.acm.cs.rpi.edu/">programming competition website</a> for details. 
</p>

<h2>Competition: Fall 2008</h2>
<p>
<a href="/site-media/rcos/images/Contest.jpg"><img src="/site-media/rcos/images/Contest_thm.jpg" /></a>
</p>

{% endblock %}

